[2015-06-15 16:49] devonparsons opened #1 "Correct Image for Proggy Clean?"
I use Proggy Clean TT, and my font looks very different from your screenshot of Proggy Clean. Even resizing both your image and my font size I could not get PCTT to look as *thick* as your example. Is it just the case that the truetype version looks significantly different?  See: http://grab.by/I4RE

[2015-06-15 16:53] chrissimpkins commented on #1
will load the font again and confirm it.  using the OSX version of Sublime Text 3 with font anti aliasing for the images.

[2015-06-15 19:49] chrissimpkins opened #2 "Add monoOne font"
https://github.com/madmalik/monoOne

[2015-06-15 19:51] chrissimpkins opened #3 "Add Fantastique Sans font"
https://github.com/belluzj/fantasque-sans

[2015-06-15 19:52] chrissimpkins opened #4 "Add the other M+ fonts"
http://mplus-fonts.osdn.jp/mplus-outline-fonts/design/

[2015-06-15 19:52] chrissimpkins opened #5 "Add Monoid font"
http://larsenwork.com/monoid/

Add README with the following information per developer's request:

[2015-06-15 19:53] chrissimpkins opened #6 "Add Inconsolata-g font"
http://leonardo-m.livejournal.com/77079.html

[2015-06-15 19:54] chrissimpkins opened #7 "Add OfficeCode Pro"
https://github.com/nathco/Office-Code-Pro

[2015-06-15 19:54] chrissimpkins opened #8 "Add FixedSys Excelsior font"
http://www.fixedsysexcelsior.com/

[2015-06-15 21:54] chrissimpkins opened #9 "Add tar.gz and .zip archive of all fonts"

[2015-06-15 23:11] chrissimpkins opened #11 "Change images for bitmap fonts"
Remove antialiasing and change font size to appropriate size for the font

[2015-06-15 23:13] chrissimpkins opened #12 "Add Luculent font"
http://eastfarthing.com/luculent/

[2015-06-15 23:29] chrissimpkins opened #13 "Blurred gallery images on Windows systems"
Multiple user reports in this Reddit thread:

https://www.reddit.com/r/programming/comments/39wz4l/hey_reddit_developers_what_is_your_favorite_text/

[2015-06-15 23:37] chrissimpkins opened #14 "Include gallery images from Windows systems"
Need contributions from others to complete this

[2015-06-15 23:37] chrissimpkins opened #15 "Include gallery images from Linux systems"
Need help from others to complete this.

[2015-06-15 23:56] chrissimpkins opened #16 "Add Input font"
http://input.fontbureau.com/

No-Redistribute license located here : http://input.fontbureau.com/license/

[2015-06-15 23:59] chrissimpkins opened #17 "Add Inconsolata-dz font"
http://nodnod.net/2009/feb/12/adding-straight-single-and-double-quotes-inconsola/

[2015-06-16 00:04] chrissimpkins opened #18 "Add Inconsolata-LGC font"
https://github.com/DeLaGuardo/Inconsolata-LGC

[2015-06-16 00:25] chrissimpkins opened #19 "Add Mensch font"
http://robey.lag.net/2010/06/21/mensch-font.html

Unclear licensing.  Contacted @robey ~~through Twitter to request clarification about redistribution through this repository.  Await response.~~

**Update**: response re: licensing below

[2015-06-16 00:33] chrissimpkins opened #20 "Sharp and pixel hinted images"
Request in Reddit thread

https://www.reddit.com/r/programming/comments/39wz4l/hey_reddit_developers_what_is_your_favorite_text/cs7n7zv

[2015-06-16 00:43] chrissimpkins opened #21 "Add Meslo font"
https://github.com/andreberg/Meslo-Font

[2015-06-16 01:11] chrissimpkins commented on #2
added

[2015-06-16 01:11] #2 closed

[2015-06-16 01:13] chrissimpkins opened #23 "Add Gohufont font"
http://font.gohu.org/

[2015-06-16 01:15] chrissimpkins opened #24 "Add Proggy Tiny Slashed Zero font"
http://www.proggyfonts.net/download/

[2015-06-16 01:24] chrissimpkins commented on #3
added

[2015-06-16 01:24] #3 closed

[2015-06-16 01:46] chrissimpkins commented on #5
@larsenwork Added to the repository.  Here is the link to the [README file](https://github.com/chrissimpkins/codeface/blob/master/fonts/monoid/README.md) as requested. Let me know if you would like me to include any other information.  Thanks much!

[2015-06-16 01:46] #5 closed

[2015-06-16 01:53] chrissimpkins opened #25 "Recommendation tool for font selection"
From reddit thread: https://www.reddit.com/r/programming/comments/39wz4l/hey_reddit_developers_what_is_your_favorite_text/cs7ufhy

[2015-06-16 02:02] chrissimpkins commented on #6
added

[2015-06-16 02:02] #6 closed

[2015-06-16 02:07] mbaz opened #26 "Add Tamsyn font"
http://www.fial.com/~scott/tamsyn-font/

[2015-06-16 02:08] chrissimpkins commented on #26
Thank you!

[2015-06-16 02:23] dvhh opened #27 "Broaden and improve glyphs to assess legibility and compare differences between fonts"
I Would like to see the `0` (zero) char in the samples (as having a dotted or slashed zero would help choose the font ).

Showing one piece of code is fine, but the most common char should also be included
( like `a-z` `A-Z` `0-9` `/` `*` `-` `+` ... etc  )

Editor auto coloring is nice to look at, but does not help judge the font.

[2015-06-16 02:35] chrissimpkins commented on #27
Multiple people made this request in the [Reddit thread](https://www.reddit.com/r/programming/comments/39wz4l/hey_reddit_developers_what_is_your_favorite_text/) today.  I received [a link to this text by Jeff Atwood](http://blog.codinghorror.com/is-your-ide-hot-or-not/) and may use it for high res images of each font.

[code]

A short test pattern similar to the one used on the Tamsyn font site wo

[2015-06-16 02:41] chrissimpkins opened #28 "Add Edlo font"
https://github.com/ehamiter/Edlo (@ehamiter)

[2015-06-16 03:06] chrissimpkins opened #29 "Add Panic Sans font"

[2015-06-16 03:11] chrissimpkins commented on #29
added

[2015-06-16 03:11] #29 closed

[2015-06-16 03:49] chrissimpkins opened #30 "Add Proggy Tiny font"

[2015-06-16 03:50] chrissimpkins commented on #30
added

[2015-06-16 03:50] #30 closed

[2015-06-16 04:06] chrissimpkins commented on #24
done

[2015-06-16 04:06] #24 closed

[2015-06-16 04:11] chrissimpkins commented on #1
New image is up at the 16pt font size recommended on the Proggy d/l site, and now without antialiasing.  It is a bit more crisp but the glyphs are still not as thin as the image that you linked.  Are you on Linux?

[2015-06-16 04:13] curioustechizen opened #31 "Suggestion: Choose a more appropriate code sample for the screenshots"
While choosing a font for coding, one of the most important factors to look for is how the font distinguishes between characters that resemble each other very closely. For example,

  - Is the lower-case letter `l` easily distinguishable from the number `1`?
  - Is the upper case letter `O` easily distinguishable from the number `0`?

I'm sure there are more such examples. It would be nice if the

[2015-06-16 04:17] chrissimpkins commented on #31
Thank you! Definitely agree and am working on this.  This has already been reported in #27 .  I will close this issue.  Let me know what you think of the sample code in that issue. -C

[2015-06-16 04:17] #31 closed

[2015-06-16 04:18] chrissimpkins commented on #11
done

[2015-06-16 04:18] #11 closed

[2015-06-16 05:46] chrissimpkins commented on #27
Added new test pattern images for all of the main gallery fonts.  Let me know what you think.

[2015-06-16 06:11] larsenwork opened #34 "Use 1Illinois instead of Illegal1"
I find it to be even more "sensitive"

[2015-06-16 06:14] larsenwork commented on #4
Would be cool if the screenshots for fonts with multiple options were slowly changing GIFs

[2015-06-16 06:50] dvhh commented on #27
This was what I was hoping for, thanks for the fix

[2015-06-16 06:50] #27 closed

[2015-06-16 10:45] engelju opened #36 "Add PT Mono font"
https://www.google.com/fonts/specimen/PT+Mono

[2015-06-16 11:25] chrissimpkins commented on #36
Thank you!

[2015-06-16 11:28] chrissimpkins commented on #27
Thanks again for the suggestion.

[2015-06-16 11:30] chrissimpkins commented on #34
Thanks Andreas.  In the queue!

[2015-06-16 11:31] larsenwork commented on #34
:+1:

[2015-06-16 11:32] larsenwork commented on #36
PT is such an under appreciated type family

[2015-06-16 11:34] chrissimpkins commented on #36
https://github.com/chrissimpkins/codeface#pt-mono

[2015-06-16 11:34] #36 closed

[2015-06-16 11:41] larsenwork commented on #25
Personal preference but I'd say zooming in on examples can be a bit misleading and not really that relevant - I'd rather have a filterable preview of code examples.

So the user can set a couple of criteria like:
* Pixel font
* Semi-condensed
* Slashed zero
* Normal sized operators
* Haskell ligatures
* Supports all latin languages, cyrillic, greek

with live updates so only fonts meeting you crit

[2015-06-16 12:54] p8952 commented on #25
You say in CONTRIBUTING.md:

[code]

Is this process automated? If so could it be put into the repo? It would be useful for generating images for use in a suggestion tool.

[2015-06-16 12:57] chrissimpkins commented on #25
100% manual... I am generating images from the [samplecode directory](https://github.com/chrissimpkins/codeface/tree/master/samplecode) with a screenshot tool until I can find a better solution...

[2015-06-16 13:05] chrissimpkins opened #38 "Proportional width fonts"
Old article but, yes, they are in use for coding: http://ask.metafilter.com/16469/Proportional-programming-fonts

Any current prop font users out there, and if so, what fonts would you like to see here?

[2015-06-16 13:06] larsenwork commented on #25
Why not just show the fonts on a webpage? It's what i did with monoid and feedback on actually having a live version instead of just images has been great.

[2015-06-16 13:35] chrissimpkins commented on #25
It's a work in progress :)  The repository is 48 hours old...   I completely agree that is the next step.  Interested in helping with this?

[2015-06-16 13:48] chrissimpkins commented on #26
Do you happen to know whether this is available anywhere as a ttf or otf font?

[2015-06-16 13:55] mbaz commented on #26
As far as I know, it's only available as bitmap.

On Tue, Jun 16, 2015 at 9:48 AM, Chris Simpkins <notifications@github.com>
wrote:

[2015-06-16 14:07] chrissimpkins commented on #26
ok, thanks much

[2015-06-16 14:19] chrissimpkins opened #40 "Add BDF UM+ Outline font"
http://d.hatena.ne.jp/hikaen2/20121222/1356173137

[2015-06-16 14:20] chrissimpkins opened #41 "Add Hasklig font"
https://github.com/i-tu/Hasklig

[2015-06-16 14:27] chrissimpkins opened #42 "Add Monte Carlo font"
http://www.bok.net/MonteCarlo/

[2015-06-16 14:32] devonparsons commented on #1
I'm using Sublime 3 on Centos

[2015-06-16 14:44] boblehest commented on #15
Do you just need people to look at the images and tell if they're ok or not?

[2015-06-16 14:48] chrissimpkins commented on #15
many of the fonts render differently on the various platforms.  It would be helpful to know if there are dramatic differences for the fonts in the collection so that I can comment on it in a font specific readme file.  Ideally, we post additional images for those fonts

[2015-06-16 15:04] robey commented on #19
Mensch is just a set of tweaks to Menlo, which is a set of tweaks to Bitstream Vera Sans Mono. Because of that, I think they all share the BVSM license: http://dejavu-fonts.org/wiki/index.php?title=License

If not, I explicitly disclaim any rights to that font, and you may do with it as you want.

Btw, cool project. Feel free to add Metrickal if it looks interesting to you -- I built that one from

[2015-06-16 15:09] boblehest commented on #15
If I'm not mistaken, it looks the your images is taken with a subpixel ordering of BGR, and mine uses RGB, and that's why it looks a bit blurry here.

[2015-06-16 15:19] chrissimpkins opened #43 "Add Metrickal font"
https://github.com/robey/metrickal-typeface

[2015-06-16 15:19] boblehest commented on #15
Edit: I deleted my previous comment about subpixel ordering, I got tricked by your bright colorscheme. :)

[2015-06-16 15:20] chrissimpkins commented on #19
Excellent! Thanks much.  I will apply the license to Mensch.

And will definitely add Metrickal.  Great font! #43

[2015-06-16 15:23] chrissimpkins commented on #15
Spacegray for Sublime Text: https://kkga.github.io/spacegray/

[2015-06-16 15:25] boblehest commented on #15
At first I assumed all pictures were JPEGs. FYI, every single image looks kinda weird to me. But it's really hard to tell what the issue is. For all I know, it's just the washed out colors playing a trick on my mind, making me believe that the quality is bad.

I'll see if I can find a similar color scheme for vim and compare, I don't have sublime text.

[2015-06-16 15:26] chrissimpkins commented on #15
Do the images with the light grey background scheme look any better?

[2015-06-16 15:48] boblehest commented on #15
Yes, they look better, but most of them appear to have some aliasing here.

Here's a comparison, Consola in gvim on top, and your image of Consola on the bottom:

http://i.imgur.com/9K26khA.png

I think the text on top looks a lot smoother.

[2015-06-16 16:47] bkaradzic opened #44 "Add Fixedsys Excelsior font"
http://www.fixedsysexcelsior.com/

[2015-06-16 16:50] chrissimpkins commented on #8
duplicated in #44 .  closing this issue and will work from that issue report

[2015-06-16 16:50] #8 closed

[2015-06-16 16:52] chrissimpkins commented on #44
Thank you!  Any idea of the license associated with this font?

[2015-06-16 16:55] bkaradzic commented on #44
Fixedsys Excelsior is free software and appears to have been released by its
    author into the public domain.

From: https://en.wikipedia.org/wiki/Fixedsys_Excelsior

[2015-06-16 17:12] chrissimpkins commented on #44
thanks.  didn't think to look in Wikipedia.  I checked the font site.

[2015-06-16 20:58] chrissimpkins commented on #15
Some reads that I found that seem to get to the heart of this issue.  OS X renders fonts differently than both Windows and Linux systems.  What looks normal to me, likely does look unusual to you.  OS X tends to have heavier glyphs with more antialiasing than you are used to seeing on either of the other platforms.

Atwood on Apple vs. Windows font rendering:

* http://blog.codinghorror.com/font-r

[2015-06-16 22:29] squires opened #45 "Add links to each font's website"
Maybe I'm missing it, but I don't see any links to the official pages of any of these fonts.

[2015-06-16 22:32] squires opened #46 "Indicate if a font is scalable or bitmap and specific sizes for bitmap fonts"
People may prefer bitmap or scalable fonts, or it's just nice to have that information for comparison.

[2015-06-16 22:37] chrissimpkins commented on #46
that's a good suggestion. I did add readme files to each bitmap repo that indicates the size that were rendered for gallery images, but this would be helpful

[2015-06-17 00:20] chrissimpkins commented on #7
added

[2015-06-17 00:21] #7 closed

[2015-06-17 00:44] chrissimpkins commented on #12
added

[2015-06-17 00:44] #12 closed

[2015-06-17 00:55] chrissimpkins commented on #17
added

[2015-06-17 00:55] #17 closed

[2015-06-17 01:05] chrissimpkins commented on #18
added font by @DeLaGuardo

[2015-06-17 01:05] #18 closed

[2015-06-17 01:29] chrissimpkins commented on #21
added

[2015-06-17 01:29] #21 closed

[2015-06-17 01:46] chrissimpkins commented on #44
Fixedsys Excelsior is now included in the repository.  Thanks much!

[2015-06-17 01:46] #44 closed

[2015-06-17 01:48] chrissimpkins commented on #45
I have been trying to add a `source.txt` file to each font directory.  Once I get caught up with all of the new fonts in the issue queue, I will do another once over and update them again.  Thanks for the suggestion.

[2015-06-17 04:53] linjer opened #47 "Web site/application for font comparisons"
In continuation of our discussion on reddit [here](http://www.reddit.com/r/programming/comments/39wz4l/hey_reddit_developers_what_is_your_favorite_text/cs891rx?context=3), this issue is to track the idea that all these fonts are best directly compared is a configurable setting which is of most interest to the particular developer.

[2015-06-17 11:30] #28 closed

[2015-06-17 12:00] #43 closed

[2015-06-17 14:49] chrissimpkins commented on #1
Hope to address this with this pull request #49

[2015-06-17 14:50] chrissimpkins commented on #15
Attempting to address this issue with PR #49

[2015-06-17 14:53] chrissimpkins commented on #47
Original suggestion:

[2015-06-17 14:56] chrissimpkins opened #51 "Create direct download links for the font binaries"
Add download link next to the font name in the gallery

[2015-06-17 15:01] chrissimpkins commented on #34
I may be able to automate the generation of the gallery images with this new PR #49 .  If so, will make this change across all font types.

[2015-06-17 15:04] chrissimpkins commented on #20
Hope to address this issue with PR #49

[2015-06-17 17:21] chrissimpkins commented on #4
This is a great idea for the website.  I really like the Monoid site alot.  You did a great job on it.  Would you be interested in helping to design one for all of the fonts in this collection?

[2015-06-17 17:39] larsenwork commented on #4
Yep, I'm very busy the next couple of weeks though but I'd love to help brainstorm/conceptualise how it can be executed as I love the idea behind it but I don't have the time to do any coding legwork right now.

I'd recommend you set it all up using github pages so read a bit about that if you're not familiar with how it works, buy a domain name and host the CDN at cloudflare.

Use modern web tech

[2015-06-17 17:49] chrissimpkins commented on #4
Sounds great.  I have multiple GH pages sites (for software documentation) and a paid Cloudflare account so we will be all set from that standpoint.  I will need advice/help on the frontend design if you'd be willing to pitch in.   Web design is definitely not my forté.

Like the concept in that link.  That would work well with this project.  Will get a repository set up for the website and be in

[2015-06-17 17:53] larsenwork commented on #4
:+1:

[2015-06-17 21:17] larsenwork commented on #4
You may already know this but it's really easy to loop through content with jekyll e.g. https://github.com/larsenwork/animalnoteheads/blob/gh-pages/_includes/tables.html#L13

[2015-06-18 12:05] chrissimpkins commented on #4
wasn't aware of this.  thanks much! will take a look

[2015-06-18 12:15] chrissimpkins opened #55 "CJK glyph support in fonts"
* Add indicator (or at least a comment) about breadth of glyph support in fonts.
* Add new fonts that support CJK character sets (need feedback from those who use CJK characters)

Info from Unicode consortium: http://www.unicode.org/faq/han_cjk.html

[2015-06-18 13:28] larsenwork commented on #4
So what we could do is to make every font a blog entry with a lot of metadata so it's filterable (and that meta data can always be expand/adjust down the line).

This way you only have to write the demo text once and just for-loop through all fonts.

Categories could be use for major groupings like bitmap, outline

[2015-06-18 14:58] chrissimpkins commented on #4
Is it as simple as just adding new meta data fields to the header section of new posts?

[2015-06-18 15:07] #19 closed

[2015-06-18 15:47] #41 closed

[2015-06-18 16:07] #42 closed

[2015-06-18 16:24] larsenwork commented on #4
Ja

[2015-06-18 16:26] larsenwork commented on #4
could use tags for meta - they are defined in the frontmatter http://jekyllrb.com/docs/frontmatter/

[2015-06-18 20:02] linjer commented on #47
Please update me with how you decide to address this, so I may follow and possibly contribute.

[2015-06-18 20:25] chrissimpkins commented on #47
Sorry, this discussion has taken place in multiple issues and I am going to consolidate it here.

[2015-06-18 20:26] chrissimpkins commented on #47
From @larsenwork

Personal preference but I'd say zooming in on examples can be a bit misleading and not really that relevant - I'd rather have a filterable preview of code examples.

So the user can set a couple of criteria like:

    Pixel font
    Semi-condensed
    Slashed zero
    Normal sized operators
    Haskell ligatures
    Supports all latin languages, cyrillic, greek

with live updates

[2015-06-18 20:28] chrissimpkins commented on #25
Website/web app discussion is being routed to issue #25.  Copied this message there

[2015-06-18 20:28] #25 closed

[2015-06-18 20:28] chrissimpkins commented on #47
From @larsenwork

I'd recommend you set it all up using github pages so read a bit about that if you're not familiar with how it works, buy a domain name and host the CDN at cloudflare.

Use modern web technologies and don't bother about legacy support - your visitors will not be browsing using IE8 and will have no problem switching a browser.

I saw this the other day and thought it looked great:

[2015-06-18 20:29] chrissimpkins commented on #47
From @chrissimpkins

Sounds great. I have multiple GH pages sites (for software documentation) and a paid Cloudflare account so we will be all set from that standpoint. I will need advice/help on the frontend design if you'd be willing to pitch in. Web design is definitely not my forté.

Like the concept in that link. That would work well with this project. Will get a repository set up for the web

[2015-06-18 20:29] chrissimpkins commented on #47
from @larsenwork

You may already know this but it's really easy to loop through content with jekyll e.g. https://github.com/larsenwork/animalnoteheads/blob/gh-pages/_includes/tables.html#L13

[2015-06-18 20:30] chrissimpkins commented on #47
from @larsenwork

So what we could do is to make every font a blog entry with a lot of metadata so it's filterable (and that meta data can always be expand/adjust down the line).

This way you only have to write the demo text once and just for-loop through all fonts.

Categories could be use for major groupings like bitmap, outline

[2015-06-18 20:30] chrissimpkins commented on #47
from @chrissimpkins

Is it as simple as just adding new meta data fields to the header section of new posts?

[2015-06-18 20:30] chrissimpkins commented on #47
from @larsenwork

could use tags for meta - they are defined in the frontmatter http://jekyllrb.com/docs/frontmatter/

[2015-06-18 20:32] chrissimpkins commented on #4
Web site/web app discussion now in #25.  This issue will be closed when the font is added to the repository

[2015-06-18 20:38] chrissimpkins commented on #47
The above discussion was merged from other issues and the discussion is current at this point.  I will ask anyone commenting on this issue, to do so in this thread.

[2015-06-18 20:43] chrissimpkins opened #56 "Scripted + automated test pattern image generator"

[2015-06-18 20:44] chrissimpkins commented on #56
Python script + makefile submitted in PR #49

[2015-06-18 20:48] chrissimpkins commented on #15
See discussion in PR #49

[2015-06-18 20:48] #15 closed

[2015-06-18 20:48] chrissimpkins commented on #14
See discussion in PR #49

[2015-06-18 20:48] #14 closed

[2015-06-19 04:33] chrissimpkins commented on #34
Added a different test pattern to each font

[2015-06-19 04:33] #34 closed

[2015-06-19 04:34] chrissimpkins commented on #13
New HD images added to the gallery

[2015-06-19 04:34] #13 closed

[2015-06-19 04:36] chrissimpkins commented on #1
Have a look at the new images that I pushed and see if you think that these render Proggy more clearly.

[2015-06-19 04:37] chrissimpkins commented on #20
New HD images pushed

[2015-06-19 04:37] #20 closed

[2015-06-19 08:23] larsenwork commented on #47
:+1: So basically what we'll be creating is something like https://www.google.com/fonts but with preview + filters related to coding instead of general typography

[2015-06-20 05:47] chrissimpkins opened #57 "Add MonacoB font"
https://github.com/vjpr/monaco-bold

[2015-06-21 12:51] #1 closed

[2015-06-21 13:33] chrissimpkins commented on #4
added

[2015-06-21 13:33] #4 closed

[2015-06-21 22:11] chrissimpkins commented on #16
added

[2015-06-21 22:11] #16 closed

[2015-06-22 17:46] chrissimpkins opened #58 "Add Tamzen font"
https://github.com/sunaku/tamzen-font

[2015-06-22 20:25] chrissimpkins commented on #57
Monaco is not licensed for redistribution and this appears to be new weights of the original Monaco binary.  Will not add given lack of appropriate license.

[2015-06-22 20:25] #57 closed

[2015-06-22 20:45] chrissimpkins commented on #23
added

[2015-06-22 20:45] #23 closed

[2015-06-23 01:44] chrissimpkins opened #59 "Add Hack font"
https://github.com/chrissimpkins/Hack

[2015-06-23 02:53] chrissimpkins commented on #59
added.

[2015-06-23 02:53] #59 closed

[2015-06-23 14:03] raphaelbastide opened #60 "Non-libre fonts"
Some font licenses are not open source, how to deal with it? How to quickly make the difference with F/LOSS typefaces? I am not even sure non open source (freeware) can be hosted on GitHub. What do you think?

[2015-06-23 14:07] chrissimpkins opened #61 "Ofont project for typeface display/selection by attributes"
[Suggested on Twitter](https://twitter.com/velvetype/status/613342333346516992) by Velvetyne Type Foundry

Project location: http://ofont.net/

[2015-06-23 14:20] chrissimpkins commented on #60
I am only hosting font binaries with licenses/EULA that permit redistribution of the font.  I created a [separate gallery](https://github.com/chrissimpkins/codeface/blob/master/NONDISTRIB.md) for typefaces that are free, but explicitly specify that redistribution of font binaries is not permitted in their EULA.  In this case, I simply point to the proper download site for the file(s).

In cases, w

[2015-06-23 14:23] chrissimpkins commented on #47
What are your thoughts about this project to organize and display fonts by tags?  It was recommended by a font foundry and looks pretty good:

http://ofont.net/

[2015-06-23 18:06] raphaelbastide commented on #60
Free / Libre Open Source fonts can be modified and redistributed. Some of the font on your list can’t. [Ex 1](https://github.com/chrissimpkins/codeface/blob/master/fonts/monofur/monof_tt.txt) [ex 2](https://github.com/chrissimpkins/codeface/blob/master/fonts/pro-font-windows/license.txt), there are maybe more. You will find more details on [this page](https://help.github.com/articles/open-source-l

[2015-06-23 18:23] chrissimpkins commented on #60
Got it. The intent was not to create a repository entirely of modifiable font types (free as in do anything with it) as it is not targeted to designers as substrate for new fonts.  It was to provide a wide selection of free (as in free for use) types that can be used in development environments by software engineers/developers who spend a significant amount of time face to face with source code an

[2015-06-23 18:32] raphaelbastide commented on #60
I understand your point and your project makes totally sense, but you can’t exclude possible hackers (that wants to modify, just like me) from your target. You can instead alert / inform about the license. I think this is part of your future plans, so I think we agree on the importance of a clear documentation :)

[2015-06-23 18:38] chrissimpkins commented on #60
Couldn't agree more!

I recognize my (code) developer-centric view of the repository as well from this discussion.  I really hadn't given much consideration to the fact that this could be a resource for designers who would like to develop new fonts based upon the ones available here.  All important points.

[2015-06-23 18:43] chrissimpkins commented on #60
...which just gave me an idea.  For those fonts that do carry licenses that permit modification, would it be helpful to distribute Font Forge sfd font source files (or another source type) to facilitate the font design effort?

[2015-06-23 18:48] raphaelbastide commented on #60
Yes, and / or [UFO](http://unifiedfontobject.org/) if you can find it, because is used by a lot of font editor now. [This](https://github.com/raphaelbastide/Whois-mono/) is an example of font repository with an UFO source.

[2015-06-23 19:20] chrissimpkins commented on #60
You didn't mention that you had fonts! Interested in putting them in the repository?  Happy to help get the word out about them.

What software do you use for development?  From the limited reading that I have done after your message above, it sounds as though the FontForge UFO source export has some issues.  Came across forums discussing [Robofont](http://doc.robofont.com/) and UFO's.

[2015-06-23 19:22] chrissimpkins opened #62 "Add Whois Mono"
https://github.com/raphaelbastide/Whois-mono/

[2015-06-24 12:25] chrissimpkins opened #63 "Powerline font modifications"
Need a description of the additional glyphs in powerline-modified fonts.  I can't find it in the documentation.

Also need testers of mods on multiple platforms if we develop them.

Font mods should be submitted to the [Powerline Fonts](https://github.com/powerline/fonts) repository along with inclusion here.

[2015-06-24 12:33] chrissimpkins commented on #56
Not generating acceptable images on OS X.  Anyone else have thoughts?

[2015-06-24 22:02] teogeos opened #64 "Add italics to screenshots"
It would be nice to see some words in the code samples be in italics to compare them since many text editor themes use them.

[2015-06-24 22:11] chrissimpkins commented on #64
Not all of the fonts support italics.  In some cases, it is the editor creating an oblique version of the font in those syntax highlighters.

What editor and theme are you using?  I'd be happy to take a look.

[2015-06-25 01:35] Snack-X commented on #55
I think almost every fonts at here don't support CJK glyphs.

There is a CJK(actually JK) font designed for code, called [NanumGothic Coding(나눔고딕 코딩)](http://dev.naver.com/projects/nanumfont/).

* Created by [NAVER Corp.](http://www.navercorp.com/en/index.nhn)
* [Licensed under OFL 1.1](http://dev.naver.com/projects/nanumfont/wiki/OpenFontLicense)
* Supports English, Korean and Japanese Hiragana,

[2015-06-25 02:17] chrissimpkins commented on #55
Thank you!  I am looking for more and will include this one.  There is Japanese glyph support in the M+ fonts.

[2015-06-25 02:20] chrissimpkins opened #65 "Add Nanum Gothic Coding"
via @Snack-X:

[2015-06-25 02:23] chrissimpkins commented on #55
@Snack-X : Added new issue for this font #65.  I will have a look to confirm the license and include it.

[2015-06-25 18:42] teogeos commented on #64
Indeed, you could put italics only for those that support them.

The default sublime text theme uses italics as you can see in their home page demo:
http://www.sublimetext.com/

Here are some themes for jetbrains IDEs with italics:
http://www.ideacolorthemes.org/themes/7/
http://www.ideacolorthemes.org/themes/100/
http://www.ideacolorthemes.org/themes/104/

[2015-06-25 18:50] chrissimpkins commented on #64
Thanks much.  I have been playing around with  type specimen sheets for these fonts that will include italics/oblique versions when available.  Let me see how the web fonts approximate the desktop versions.  It would be nice to avoid a new set of images for each typeface given the size of the list.  Do you feel that it is important to see these variants in the context of the syntax highlighting or

[2015-06-25 20:16] #62 closed

[2015-06-25 20:39] chrissimpkins commented on #60
An admirer included your Whois Mono font as a PR today.  It's now in the repository.

[2015-06-25 20:39] #60 closed

[2015-06-25 20:42] raphaelbastide commented on #60
Wonderful! I’m glad it is part of the list :)

[2015-06-25 20:43] chrissimpkins commented on #60
Great font!  Can I contact you off GH about a font editor that handles UFO source?  Are you on Twitter?

[2015-06-25 20:44] raphaelbastide commented on #60
Yes, [@raphaelbastide](https://twitter.com/raphaelbastide)

[2015-06-25 20:47] chrissimpkins commented on #60
sent! thanks

[2015-06-25 21:49] chrissimpkins commented on #65
Added to the repository.  Thanks much for the contribution!  I included you on the contributors list.

[2015-06-25 21:49] #65 closed

[2015-06-26 02:33] chrissimpkins opened #67 "Add Latin Modern Mono font"
http://www.fontsquirrel.com/fonts/Latin-Modern-Mono

[2015-06-26 02:37] chrissimpkins opened #68 "Add Linux Libertine Mono"
http://www.linuxlibertine.org/index.php?id=91&L=1

[2015-06-26 02:40] chrissimpkins opened #69 "Add Cruft font"
https://code.google.com/p/i3project/downloads/list

[2015-06-26 02:46] chrissimpkins opened #70 "Add Hermit font"
https://pcaro.es/p/hermit/

[2015-06-26 02:53] chrissimpkins opened #71 "Add Sudo font"
http://www.kutilek.de/sudo-font/

[2015-06-26 03:08] chrissimpkins opened #72 "Add CPMono font"
http://1-free-fonts.com/static/fonts/6748/CPMono.zip

[2015-06-26 12:51] chrissimpkins commented on #72
Added

[2015-06-26 12:51] #72 closed

[2015-06-26 13:12] chrissimpkins commented on #46
I think that I am going to add a small indicator next to the font name to address this issue.  In the works.

[2015-06-26 22:18] teogeos commented on #64
To me it would probably be important to see them in the context of syntax highlighting since those pictures give me a much better idea of whether I like a font or not. But you might want to ask other people for their opinions on this matter.

[2015-06-26 23:18] chrissimpkins commented on #64
Let me see what I can do.  Thanks much for your feedback.

[2015-06-27 02:20] tomByrer commented on #64
It would be good to see how the OS creates italics with a font that is missing it.  Different platforms (OS, browser, etc) could render italics differently, but it would still be of interest.
OTOH, usually only comments a few key words are in Italics.

[2015-06-27 04:07] chrissimpkins commented on #64
I am considering a standardized type specimen sheet for each typeface that will look something like this:

http://chrissimpkins.github.io/Hack/font-specimen.html

This will display the oblique/italic glyphs when available and I can add a block that displays oblique/italics x font size similar to the display for the regular font type.  It will not provide a syntax highlighting view with real code.

[2015-06-27 13:45] chrissimpkins commented on #67
added

[2015-06-27 13:45] #67 closed

[2015-06-27 20:52] chrissimpkins commented on #55
@Snack-X: NanumGothic Coding is now included in the list.  If you happen to know of any others, please let me know.  Thanks much!

[2015-06-28 01:13] chrissimpkins commented on #68
Added

[2015-06-28 01:13] #68 closed

[2015-06-28 12:28] mbirth opened #74 "Add Input Mono"
http://input.fontbureau.com/ (Free for private use)

[2015-06-28 16:28] chrissimpkins commented on #74
Thanks for the suggestion.  It's already included but the license does not allow me to redistribute it in this repository.  It is in the nondist gallery over here (with others that have a similar restriction):

https://github.com/chrissimpkins/codeface/blob/master/NONDISTRIB.md

[2015-06-28 22:34] jralphur opened #75 "Show the colorschemes used in the preview images"

[2015-06-28 23:37] chrissimpkins commented on #75
you are looking for the name of the syntax highlighting themes?

[2015-06-28 23:50] jralphur commented on #75
the html color codes specifically, not the theme or theme name for a text editor

[2015-06-29 01:21] chrissimpkins commented on #75
Here you go:

http://chriskempson.github.io/base16/#ocean

[2015-06-29 01:21] #75 closed

[2015-06-29 01:24] #74 closed

[2015-06-29 01:31] chrissimpkins commented on #63
Have the Powerline glyphs.  Anyone available to help test Powerline mods?

[2015-06-29 01:39] chrissimpkins commented on #71
Added

[2015-06-29 01:39] #71 closed

[2015-06-29 02:12] chrissimpkins opened #76 "Add Bront font"

[2015-06-29 02:12] chrissimpkins commented on #76
Added in PR #73

[2015-06-29 02:12] #76 closed

[2015-06-29 03:07] chrissimpkins opened #77 "Create diffs vs. origin typefaces with Chris Wendt's script"
Script by @chrismwendt located at https://github.com/chrismwendt/bront/blob/89785af894459275c571815dd0e352d0b892e712/render.sh

[code]

[2015-06-30 00:24] chrissimpkins commented on #69
will not include at the moment.

[2015-06-30 00:24] #69 closed

[2015-06-30 00:33] chrissimpkins commented on #70
Added

[2015-06-30 00:33] #70 closed

[2015-07-01 18:48] Nijikokun opened #78 "Add Envy Code R"
Beautiful coding font :+1:

[2015-07-01 18:49] Nijikokun commented on #78
Oops, its in the free non-eula. Closing.

[2015-07-01 18:49] #78 closed

[2015-07-01 18:57] chrissimpkins commented on #78
No problem! This is the best kind of issue report :)

[2015-07-03 19:51] chrissimpkins opened #79 "Add Average Mono font"
http://openfontlibrary.org/en/font/average-mono

[2015-07-03 19:52] chrissimpkins opened #80 "Add Courier Code font"
http://openfontlibrary.org/en/font/courier-code

[2015-07-03 19:54] chrissimpkins opened #81 "Add Generic Mono font"
http://openfontlibrary.org/en/font/generic-mono

[2015-07-03 20:16] chrissimpkins opened #82 "Add Onuava font"
http://www.urbanfonts.com/fonts/Onuava.htm

[2015-07-04 10:22] m90 opened #83 "Add Camingo Code Font"
Free font available at: http://www.myfonts.com/fonts/jan-fromm/camingo-code/

[2015-07-04 12:10] chrissimpkins commented on #83
thanks for sharing this typeface.  I'll look into the licensing and include it in the collection.

[2015-07-04 12:22] chrissimpkins commented on #83
License does permit redistribution of the font: http://www.myfonts.com/viewlicense?lid=1781

Thanks again!

[2015-07-04 20:18] chrissimpkins commented on #83
Added the font and included you on the contributors list.  Beautiful font.  Thanks much for suggesting it!

[2015-07-04 20:18] #83 closed

[2015-07-04 20:33] chrissimpkins commented on #79
Added

[2015-07-04 20:33] #79 closed

[2015-07-04 22:06] chrissimpkins opened #84 "Add a list of all font names"
With links to the test pattern images on the README page

[2015-07-05 04:31] chrissimpkins commented on #9
Added

[2015-07-05 04:31] #9 closed

[2015-07-09 02:31] chrissimpkins opened #85 "Add direct links to licenses"
currently working on this in branch `links`

[2015-07-11 17:12] aardappel opened #86 "Add Input Mono Font"
http://input.fontbureau.com/

Very customizable programmer font that looks gorgeous.

[2015-07-11 20:04] chrissimpkins commented on #86
Thanks for the suggestion Wouter.  Unfortunately they do not allow redistribution of their font binaries so it is listed over on this gallery:

https://github.com/chrissimpkins/codeface/blob/master/NONDISTRIB.md

I definitely agree, it's a highly customizable, excellent choice!

[2015-07-11 20:05] #86 closed

[2015-07-11 20:05] chrissimpkins commented on #85
done

[2015-07-11 20:05] #85 closed

[2015-07-12 14:30] chrissimpkins opened #87 "Add Audimat Mono font"
Waiting for response from developer about redistribution of font binaries

http://www.smeltery.net/fonts/audimat-mono

[2015-07-12 14:38] chrissimpkins opened #88 "Add Courier Prime Code"
http://quoteunquoteapps.com/courierprime/

The slashed zero version link is at the bottom of the page.  SIL Open Font license

[2015-07-12 20:59] tomByrer commented on #85
Thanks; as you noticed, some fonts have unique licences.

[2015-07-14 19:46] chrissimpkins commented on #87
Request denied by the developer.  He told me that the current release version 'has several problems' and the new version should be out later this year.  Will wait until the next release to add to the collection.

[2015-07-26 17:54] efermi opened #103 "Add UW ttyp0"
http://people.mpi-inf.mpg.de/~uwe/misc/uw-ttyp0/

[2015-07-26 20:08] chrissimpkins commented on #103
Thanks for the suggestion.  Do you happen to know what this is licensed under?  I don't see licensing information on the page that you linked.

[2015-07-26 20:13] efermi commented on #103
From the LICENSE file:
[code]

[2015-07-26 20:17] efermi commented on #103
From the FAQ:

  MIT license is the name change requirement.

[2015-07-26 21:07] chrissimpkins commented on #103
Perfect. Thanks much.  I will get it into the repository.   Do you have a recommended size for the specimen images?

[2015-07-26 21:50] efermi commented on #103
Aren't all the specimen images must be of one size?

[2015-07-26 23:14] chrissimpkins commented on #103
I have been trying to format the bitmap fonts in the ideal size.

[2015-07-27 16:21] efermi commented on #103
Well, use 8x16 then -- it is the default size on the font preview page

[2015-07-28 03:40] chrissimpkins commented on #103
will do.  thank you!

[2015-07-31 18:11] efermi opened #104 "Add Iosevka"
https://github.com/be5invis/Iosevka
SIL Open Font License

[2015-07-31 18:19] efermi opened #105 "Add CMU Typewriter"
http://canopus.iacp.dvo.ru/~panov/cm-unicode/
X11 License

[2015-07-31 18:24] chrissimpkins commented on #104
Thank you!  will be adding a new set of fonts this weekend.  Will try to get include it then.

[2015-07-31 18:24] chrissimpkins commented on #105
and thanks again! ditto the last comment

[2015-08-02 16:58] chrissimpkins commented on #88
Install error on OS X systems.  Will not add until this is fixed.

[2015-08-02 17:25] chrissimpkins commented on #104
Based upon issue reports, it sounds as though this is still in a fairly active stage of development.  I submitted an issue report to see if the developer/designer is prepared to list it at this stage.  Here is the link if you'd like to follow the issue:

https://github.com/be5invis/Iosevka/issues/6

[2015-08-02 17:28] chrissimpkins commented on #103
I am working on OS X and this is released in a bdf format.  Looking into a way to generate the preview images for the gallery.

[2015-08-02 18:55] chrissimpkins commented on #105
Added and included you on the contributors list.  Thanks again!

[2015-08-02 18:55] #105 closed

[2015-08-02 18:59] #63 closed

[2015-08-05 10:07] MrClyfar opened #106 "Unable to install, or preview, Hack font."
I downloaded the latest zip on August 5th 2015.

I tried to preview the file Hack-Regular.otf but Windows errored, stating that it is not a valid font file. The same error appears when I attempt to preview any of the Hack related .otf files.

I am unable to install any of the file also.

[2015-08-05 10:24] chrissimpkins commented on #106
Thanks for letting me know.  What version of Windows are you using?

[2015-08-05 11:21] chrissimpkins commented on #106
This Codeface release includes a new Hack build that has a significantly expanded character set.  We may be running into trouble with this on Windows.  If you don't mind helping me test the new release, I would be happy to create some new binaries and we can iteratively troubleshoot since Windows isn't providing any information that we can use to locate the problem.

I created a new issue report o

[2015-08-05 11:41] MrClyfar commented on #106
I'm using Windows Server 2008 R2 Standard with Service Pack 1.

[2015-08-05 12:30] chrissimpkins commented on #106
can you confirm that version 1.3 installs (linked above)

[2015-08-05 15:27] chrissimpkins commented on #106
Mind trying an install with the ttf files that I pushed to the test build directory?

https://github.com/chrissimpkins/Hack/tree/development/build/test_builds

[2015-08-05 15:30] chrissimpkins commented on #106
Also, here is some information that I came across from users with similar problems on Windows:

http://www.dafont.com/forum/read/19727/problem-solved-the-file-does-not-appear-to-be-a-valid-font

http://superuser.com/questions/97481/installing-a-valid-font-errors-out-with-does-not-appear-to-be-valid-font

[2015-08-05 15:47] MrClyfar commented on #106
hiya.

yup sure, I can try those out. Will be later this evening as I'm still in work at the moment.

Will give you a shout with the result.

Cheers.
Jason

[2015-08-05 15:53] chrissimpkins commented on #106
thanks!

[2015-08-05 16:21] chrissimpkins commented on #106
The ttf will not look great (yet) on Windows.  Unhinted.  I want to check whether they build.

[2015-08-05 18:58] MrClyfar commented on #106
Hiya.

I downloaded the regular and bold .TTF files and was able to preview both.

I installed the regular font and tried that in VS2013 on my home PC (Windows 8.1) and it worked fine. As a sanity check, I will email these .TTF files to my work PC and try them out, just in case.

Cheers.

Jason.

From: Chris Simpkins
Sent: ‎Wednesday‎, ‎5‎ ‎August‎ ‎2015 ‎16‎:‎27
To: chrissimpkins/codeface
Cc: Jas

[2015-08-05 19:46] chrissimpkins commented on #106
I will make sure that they are properly hinted for the release and will make them available for Windows users soon. Thanks much for this issue report.

[2015-08-05 20:20] MrClyfar commented on #106
Hiya.

Glad to help, anytime. 😊

Cheers.

Jason.

From: Chris Simpkins
Sent: ‎Wednesday‎, ‎5‎ ‎August‎ ‎2015 ‎20‎:‎46
To: chrissimpkins/codeface
Cc: Jason Evans

I will make sure that they are properly hinted for the release and will make them available for Windows users soon. Thanks much for this issue report.

—
Reply to this email directly or view it on GitHub.

[2015-08-08 12:39] chrissimpkins commented on #106
Confirming that the install worked on your other Windows machine.  I will close this issue report if the ttf files are working.

[2015-08-08 12:40] chrissimpkins commented on #104
Developer's response:

[2015-08-08 13:31] MrClyfar commented on #106
Hiya.

I got a chance to try those files on my work PC, and they did work fine.

Sorry for not responding sooner, I did forget as I was focused on some work related milestones.

Cheers.
Jason

[2015-08-08 13:37] chrissimpkins commented on #106
No problem at all.  Just wanted to make sure that this issue was addressed.  Thanks for the feedback.  If you have a chance do you mind posting a screenshot of how it currently looks at a small px size on Windows?

[2015-08-08 14:15] MrClyfar commented on #106
Hiya.

Yeah sure, I can get you some pics at various small sizes.

Cheers.
Jason

[2015-08-08 14:23] chrissimpkins commented on #106
thanks!

[2015-08-08 15:48] MrClyfar commented on #106
Hiya.

Here are the screenshots for you.

Give me a shout if you need anything else.

Cheers.

Jason.

From: Chris Simpkins
Sent: ‎Saturday‎, ‎8‎ ‎August‎ ‎2015 ‎15‎:‎23
To: chrissimpkins/codeface
Cc: Jason Evans

thanks!

—
Reply to this email directly or view it on GitHub.

[2015-08-08 16:40] chrissimpkins commented on #106
They don't seem to be included in the message.  I haven't tried to attach images by email.  You can directly drag/drop onto the message in the thread.

[2015-08-08 17:50] MrClyfar commented on #106
Hiya.

Sorry, hopefully the images are attached with this email.

Cheers.

Jason.

From: Chris Simpkins
Sent: ‎Saturday‎, ‎8‎ ‎August‎ ‎2015 ‎17‎:‎40
To: chrissimpkins/codeface
Cc: Jason Evans

They don't seem to be included in the message. I haven't tried to attach images by email. You can directly drag/drop onto the message in the thread.

—
Reply to this email directly or view it on GitHub.

[2015-08-08 19:45] chrissimpkins commented on #106
Still didn't work. No worries, thanks for the attempt.  I have to load it on a Windows box and work out the issues that you mentioned with the otf files.

[2015-08-08 19:46] #106 closed

[2015-08-10 12:13] chrissimpkins commented on #106
Quick update: I am working on this otf issue on Windows with the developer of the font editor that I am using.  There was a build issue in the cmap OpenType table that does not validate on Windows (but does on OS X).  I will let you know when I have a functional set of OTF files for you.

I will post future updates on the issue in the Hack repository:

https://github.com/chrissimpkins/Hack/issues/

[2015-08-10 12:16] MrClyfar commented on #106
hiya.

cool. Keep me in the loop if youvneed any checks done i.e. trying out versions of OTF files.

I will keep an eye on that link you sent me below.

As for emailing you attachments, that was odd for it not to work.. I will try ending them somewhere else if that works.. We can cross that bridge when it comes up.

Cheers.
Jason

[2015-08-10 12:17] chrissimpkins commented on #106
Thanks for your help Jason.  I will definitely take advantage of that offer!

[2015-08-12 09:48] FlyveHest commented on #11
Is it?

Something like https://github.com/chrissimpkins/codeface/blob/master/images/proggy-clean-noaa-TP.png still very much looks AAed here?

[2015-08-13 02:45] chrissimpkins commented on #104
0.1.0 was released and the font is now included.

[2015-08-13 02:45] #104 closed

[2015-08-13 03:42] tomByrer commented on #104
Thanks for your quick inclusion after release.

[2015-08-15 15:20] chrissimpkins commented on #106
Jason,

The current otf releases addressed this issue.  It was a problem with the character mapping table that is now corrected.

You can download new binaries in the [test build directory](https://github.com/chrissimpkins/Hack/tree/development/build/test_builds) (development branch).  I will add them here as soon as I have all of the new release files ready.

-C

[2015-08-15 15:49] MrClyfar commented on #106
Hiya.

Awesome 😊

I will keep an eye on that folder, see when the new releases are ready to try out.

Cheers.

Jason.

From: Chris Simpkins
Sent: ‎Saturday‎, ‎15‎ ‎August‎ ‎2015 ‎16‎:‎20
To: chrissimpkins/codeface
Cc: Jason Evans

Jason,

The current otf releases addressed this issue. It was a problem with the character mapping table that is now corrected.

You can download new binaries in the tes

[2015-08-15 16:16] chrissimpkins commented on #106
I've tested it in Windows Sublime Text 3 and it looks great with the [directwrite font options activated](http://www.deldy.dk/post/sublime-text-directwrite) in user settings.  Do you happen to know if other text editors on Windows use directwrite by default or is this something that must be explicitly activated in settings profiles?  It seems unusual that ST does not activate this rendering system

[2015-08-15 16:38] MrClyfar commented on #106
Hiya.

I’m not familiar with which IDE’s have DirectWrite support, sorry.

However, if WPF uses it, then likely Visual Studio also makes use of it, since VS IDE renders fonts using WPF (I think 😊 ).

Cheers.

Jason.

From: Chris Simpkins
Sent: ‎Saturday‎, ‎15‎ ‎August‎ ‎2015 ‎17‎:‎16
To: chrissimpkins/codeface
Cc: Jason Evans

I've tested it in Windows Sublime Text 3 and it looks great with the di

[2015-08-15 16:39] chrissimpkins commented on #106
thanks!

[2015-08-15 21:36] chrissimpkins commented on #106
I just pushed hinted ttf files to the test_builds directory of the development branch.  These look much better on Windows and the sweet spot seems to be a pixel size between 8 - 12.  I tested them in Sublime Text with and without directwrite and subpixel antialiasing.  They look fine with any of the rasterizer approaches (including without either if you like a sharper contour).

Feel free to give

[2015-08-16 04:12] tomByrer commented on #47
Most of the work is done for you:
http://katydecorah.com/font-library/

[2015-08-16 13:59] chrissimpkins commented on #47
thanks for sharing this.  this would be perfect. let me dig through the site to see how she put it together and how we could transition it to these faces.

[2015-08-17 18:05] chrissimpkins commented on #106
added your name to the Hack contributors list.  thanks again for all of your help with the Windows issues.

[2015-08-17 18:13] MrClyfar commented on #106
Hiya.

Hey, thanks for that. Awesome.

Cheers.
Jason

[2015-08-17 18:23] chrissimpkins commented on #106
Brand new v2.010 builds address the Windows issues and include TrueType instructions.  They are available in the master branch now and look good on Windows boxes.  If you haven't upgraded yet, these are the ones that you want.

[2015-08-19 15:41] chrissimpkins opened #108 "Add a font install script"
on it...

[2015-08-19 23:48] linjer commented on #77
Hey, I was going to check in on your overall progress and I saw this issue, so I wanted to point out the Google fonts repo has something that does a good job at this in the tools folder.

https://github.com/google/fonts

[2015-08-20 00:02] chrismwendt commented on #77
Are you referring to https://github.com/google/fonts/blob/master/tools/compare_font.py? Correct me if I'm wrong, but that script compares things like sizes of glyphs and supported subsets, and doesn't render any images.

The script in this issue renders image diffs like https://camo.githubusercontent.com/a1621cf63d7e06d5843e3b0704d85cbe4f4a96c4/687474703a2f2f692e696d6775722e636f6d2f555143376144512

[2015-08-20 00:18] linjer commented on #77
Right. I don't mean to reference that tool as a competing item, but something you may draw from.

[2015-08-20 10:55] chrissimpkins commented on #77
Thanks for the suggestion Jerry.  I will check out the Google fonts repo to see what they have.

[2015-09-13 04:36] #108 closed

[2015-09-16 01:49] Snack-X commented on #55
NAVER Corp. released another font called [D2 Coding](http://dev.naver.com/projects/d2coding/). It is licensed under OFL.

It supports:
* Basic ASCII, of course
* Korean Hangul Syllables
* Japanese Hiragana and Katagana
* Part of CJK Unified Ideographs(Han characters, Kanji, Hanja)

Not full CJK support, but partial CJK.

You can download it at [here](http://dev.naver.com/projects/d2coding/download

[2015-09-16 01:58] chrissimpkins commented on #55
Thanks for suggesting this.  Looks great.  I will try to update the repository tomorrow and add it to the font zip archive.

[2015-09-16 02:00] chrissimpkins opened #109 "Add D2 Coding"
from @Snack-X in #55 :

NAVER Corp. released another font called [D2 Coding](http://dev.naver.com/projects/d2coding/). It is licensed under OFL.

It supports:
* Basic ASCII, of course
* Korean Hangul Syllables
* Japanese Hiragana and Katagana
* Part of CJK Unified Ideographs(Han characters, Kanji, Hanja)

Not full CJK support, but partial CJK.

You can download it at [here](http://dev.naver.com/pr

[2015-09-16 02:01] chrissimpkins commented on #55
@Snack-X created issue #109 for this

[2015-09-18 02:24] Snack-X commented on #109
Can you postpone adding this font? In some font size, half width glyphs and full width glyphs are not in 1:2 scale. For example, 10pt is OK, but 11pt isn't.
Below is D2 Coding 11pt at Sublime Text 3 on Mac OS X, but [issue says](http://dev.naver.com/projects/d2coding/issue/98557) it's same on Windows.

![Not in scale](https://cloud.githubusercontent.com/assets/1373527/9950637/8c31bdf2-5df7-11e5-92

[2015-09-18 02:47] chrissimpkins commented on #109
Sure.  mind letting me know when it is ready?

[2015-10-08 19:33] #61 closed

[2015-10-08 19:35] chrissimpkins commented on #47
sourcefoundry.org/hack/playground.html

most Codeface fonts are currently supported.  Because of licensing issues you need to install fonts that are not available in Web font builds in order to compare.  This uses the ACE editor and you can adjust text size, syntax highlighting, and the fonts used.

Enjoy!

[2015-10-28 22:13] be5invis commented on #55
Well I also made a composite font contains CJK characters and Iosevka: ![Iosevka Inziu](http://code.fosshub.com/Inziu/downloads). The "inziu" also contains hints generated by sfdhanautohint.

ps. Recently Iosevka has changed a lot. Please update your images.

[2015-10-29 13:07] chrissimpkins opened #110 "Update Iosevka fonts (1.0-beta9)"
from @be5invis in #55:

[2015-10-29 13:08] chrissimpkins commented on #55
@be5invis Will you link to the development site or webpage describing your new fonts.  I would be happy to include them.

Be glad to update these.  Is 1.0-beta1 the version that you would like me to include here?

[2015-10-29 14:53] be5invis commented on #55
@chrissimpkins yeah. but it would be better to download the newest release from my [repo](https://github.com/be5invis/iosevka/releases).

[2015-11-04 14:48] chrissimpkins opened #111 "Add new Hack typeface release (v2.018)"
https://github.com/chrissimpkins/Hack/releases/tag/v2.018

[2015-11-04 14:49] chrissimpkins commented on #109
@Snack-X : Any word on whether this is ready for release?

[2015-11-04 15:04] Snack-X commented on #109
@chrissimpkins [1.1 release](http://dev.naver.com/projects/d2coding/download/note/7384) says some issues are resolved, including the error I mentioned above. I think it's OK to be added.

[Download at here](http://dev.naver.com/projects/d2coding/download/11568?filename=D2Coding-Ver1.1-TTC-20151103.zip).

[2015-11-04 15:05] chrissimpkins commented on #109
thank you!

[2015-11-15 15:31] mkasu commented on #55
+1. Very interested in CJK compatible fonts. Maybe it would be a great idea to just add some flags per language. In most cases a "full Japanese" or "full Korean" flag would probably be more descriptive than "partial CJK support".
It seems there are quite a few fonts, which basically focus on a single language like Korean or Japanese, with missing a lot of glyphs for the other ones. For example, I

[2015-11-15 15:42] chrissimpkins commented on #55
@mkasu how about a separate page in the repository or a CJK fork that you maintain?

[2015-11-17 18:39] be5invis commented on #110
Well, it is beta8 now and I made a slab here either.

[2015-11-17 18:47] chrissimpkins commented on #110
trying to get to it this week.  If you submit a PR, I am happy to merge it.

[2015-11-23 00:22] chrissimpkins commented on #111
Complete

[2015-11-23 00:22] #111 closed

[2015-11-23 00:25] chrissimpkins commented on #110
@be5invis updated in the Codeface repository

[2015-11-23 00:25] #110 closed

[2015-11-23 01:05] chrissimpkins commented on #109
@Snack-X : can you point me to the license file on their site?  I am having a difficult time finding it.  As I understand it, they have applied a license by the name of `D2 Coding Open Font License` to this project.

[2015-11-23 01:13] chrissimpkins opened #112 "Add Anonymous Pro Minus (without embedded bitmaps)"

[2015-11-23 01:13] chrissimpkins commented on #112
Added as a subdirectory in the Anonymous Pro font directory

[2015-11-23 01:13] #112 closed

[2015-11-23 01:14] #84 closed

[2015-11-23 01:14] #38 closed

[2015-11-23 01:32] tomByrer commented on #109
Mentioned at the bottom:
https://translate.google.com/translate?hl=en&sl=ko&u=http://dev.naver.com/projects/d2coding&prev=search

[2015-11-23 01:34] chrissimpkins commented on #109
@tomByrer I saw that notice, but I can't find the body of the license itself.  It sounds like this is modeled on the SIL OFL, but I would like to review the license text before I redistribute here.

[2015-11-23 01:36] Snack-X commented on #109
Actually they say it's under OFL license, but there's no actual license file yet. There's an [issue about this](http://dev.naver.com/projects/d2coding/issue/99005), but not resolved.

[2015-11-23 01:46] chrissimpkins commented on #109
@Snack-X @tomByrer Thanks much to both of you. I will include this once they push a license that details how they intend to permit redistribution of their fonts.

[2015-12-06 13:02] peteyy commented on #88
Works well on OSX (El Capitan) and also on Linux (Manjaro latest) it this is the only font I'm missing please consider adding it to the collection. :+1:

[2015-12-06 14:15] chrissimpkins commented on #88
great to hear that they addressed this issue.  will include it. thanks for letting me know.

[2015-12-06 18:13] chrissimpkins commented on #88
Added this to the main gallery + repository and added your name to the contributors list.  Thanks much for looking into this and for the recommendation!

[2015-12-06 18:13] #88 closed

[2015-12-06 18:34] chrissimpkins commented on #55
@mkasu Marc, would it be possible to discuss the CJK fonts in more detail at some point?  I would like to include information about these fonts here if you do not intend to create a separate fork.  We will need to come up with specimens to demonstrate the glyphs for those who are interested.  This is an area where I will have absolutely no expertise and will need a great deal of feedback from your

[2015-12-06 18:59] be5invis commented on #55
@chrissimpkins How about [this](http://code.fosshub.com/Inziu/downloads)? It is a composite of Iosevka, M+ and Source Han Sans, designed for Chinese and Japanese, and, contains COMPLETE HINTS.

[2015-12-06 19:09] be5invis commented on #55
@chrissimpkins And, the sample text

**Han**:

Region | Sample
----------|-------------
Traditional Chinese | `花鳥風月 春夏秋冬 生老病死 喜怒哀樂 櫻梅桃李 起承轉合`
Simplified Chinese | `花鸟风月 春夏秋冬 生老病死 喜怒哀乐 樱梅桃李 起承转合`
Japanese | `花鳥風月 春夏秋冬 生老病死 喜怒哀楽 桜梅桃李 起承転結`

**Kana**: `いろはにほへど　ちりぬるを　わがよたれぞ　つねならむ`

**Hangul**: `나는 유리를 먹을 수 있어요. 그래도 아프지 않아요`

You can also include a sample to show the alignment, i.e., whether Latin char

[2015-12-06 23:40] chrissimpkins commented on #55
@mkasu @be5invis where are the two of you using CJK monospaced fonts and seeing these glyphs? terminals? strings / comments in source code text editors?

[2015-12-07 03:37] Snack-X commented on #55
I'd like to suggest different sample text for Hangul.
Kana sample text is first half of [Iroha](https://en.wikipedia.org/wiki/Iroha), which is known as a Kana pangram.
Various pangram exists, but I suggest `챠트 피면 술컵도 유효작`. This sentence includes all Hangul consonants and vowels.

[2015-12-07 08:57] be5invis commented on #55
@chrissimpkins Inziu Iosevka an be used directly in terminal, especially on Windows (by assigning them to codepage 936, 932 and 950).
@Snack-X Well... I am not familiar with Korean, the sample is just a "I can eat glass".

[2015-12-07 12:10] chrissimpkins commented on #55
Do you suggest we show these in a terminal screenshot?

[2015-12-07 18:07] mkasu commented on #55
@chrissimpkins Chris, sorry I blatantly ignored your question three weeks ago. I've been a little bit busy with other projects as well as my master's thesis.

I don't like the "forking-culture" and would rather have one big project which focuses on all kinds of fonts. Maybe you can put CJK fonts in a separate file, because they'd probably be quite uninteresting for everyone not using CJK languages

[2015-12-07 19:34] chrissimpkins commented on #55
As I have absolutely no familiarity with any of these glyphs can I count on any/all of you to assist me with the screenshots of the fonts and confirmation of licensing (if they are not in English)?  I am more than happy to include all of the recommended fonts if they permit redistribution and fit the developer oriented theme of the repository.

[2015-12-07 19:36] chrissimpkins commented on #55
If so we will need to agree on a specimen to display to users and a consistent color scheme + editor combination that is simple to replicate if we expand this collection and you are no longer contributing to the project.

[2015-12-07 22:59] mkasu commented on #55
I could assist with screenshots and translating relevant Japanese information to English if necessary.

I noticed a lot of fonts look quite different depending on your platform (Linux vs OS X) and/or DPI settings (Retina/Non-Retina), even if displayed in same editor. So I don't know if agreeing on an editor makes the results consistent enough.

I found your render.py etc. scripts. How reliable wou

[2015-12-07 23:27] chrissimpkins commented on #55
No matter what approach you take (including an automated approach) the images will only reflect what some users see.   There are simply too many variables at play in the display of glyphs on the screen.  My goal here is to provide a taste and users will need to install to try for themselves with their own platform/renderer/display density combination.   My comment above was intended to set a goal

[2015-12-07 23:50] mkasu commented on #55
Well, my suggestion was the automated approach, as I think it will probably be the most consistent thing if you have multiple contributors. Furthermore, I'd probably be the easiest for contributors to setup if they only need some libraries and a script.

But if you'd rather prefer a manual approach using an editor or terminal, just choose a platform/application/settings combination and I'll try to

[2015-12-08 10:11] be5invis commented on #55
@mkasu Perhaps including a hinting test is necessary. I do not know whether Cairo can simulate how Windows rasterizes typefaces: the 16×1 anisotropic antialiasing, well, uncommon on *nix systems.

[2015-12-16 00:53] chrissimpkins opened #114 "Add CJK developer font gallery"
## Goal
Create a separate gallery of free fonts that support CJK character sets and are licensed for redistribution in this repository

## Need

Feedback from developers who use CJK fonts on

- [x] source code text specimen(s) that provide a flavor of the CJK glyphs and provide the necessary visual information to compare these fonts across character sets used in bodies of source code by developers

[2015-12-16 00:58] chrissimpkins commented on #55
I added #114 and intend to begin work on a new CJK font gallery in the `cjk` branch in the next week.  I would greatly appreciate (and really need!) help from anyone who is interested in contributing to this.  Let's start discussing the scripts for automated approaches to the display of the extended character sets in CJK fonts and continue the discussion about appropriate text specimen(s) for disp

[2015-12-17 02:29] be5invis commented on #114
Some sample text may be useful.
[code]

[2015-12-17 03:53] chrissimpkins commented on #114
Thoughts about how best to display the CJK text?  Simple black on white for those strings that you provided along with the syntax highlighted code blocks from the main gallery?  Automated rendering approach?

[2015-12-17 10:59] mkasu commented on #114
I'd like an automated rendering approach.

I looked at some other projects regarding this topic.

I really like this picture from Adobe, as it shows a good distribution of latin characters, special characters as well as Japanese comments.
https://github.com/adobe-fonts/source-han-code-jp/blob/master/resources/img-View.png

Another interesting approach is this. The idea is to visualise the ratio be

[2015-12-18 02:48] chrissimpkins commented on #114
@mkasu:

Any suggestions?

Looks good.

As does this.

I asked in a new issue report on their repository https://github.com/adobe-fonts/source-han-code-jp/issues/9 . Let's wait for their response.

[2015-12-18 03:43] chrissimpkins commented on #114
@be5invis Are the strings that you suggested above simple sentences / word combinations, or do they provide some additional information for individuals who are comparing the typefaces?  I am interested in the visual information that CJK font users might need in these text specimens in order to compare typefaces in the gallery.  Do you have any suggestions beyond those noted by @mkasu above?  Any t

[2015-12-18 03:54] chrissimpkins commented on #114
A Pango/Cairo approach to automated text specimen creation was submitted in this (now closed) PR https://github.com/chrissimpkins/codeface/pull/49

It didn't render clear images on OS X, but perhaps we could give it another shot on Linux to see if the FreeType renderer leads to better images.

[2015-12-18 03:59] be5invis commented on #114
@chrissimpkins The three Han lines test the font's character coverage and character shapes. Since China mainland, Taiwan and Japan use different characters and character shapes, this test will indicate whether the font shown is suitable for the users in these regions.
Kana and Hangul lines are just pangrams.

[2015-12-18 04:13] chrissimpkins commented on #114
@be5invis This is very helpful and it sounds like this is necessary information that will need to be conveyed in at least one of the images.

[2015-12-18 04:13] chrissimpkins commented on #114
As of now, we have the following image suggestions:

- Source code example that includes CJK glyphs in comments +/- source strings (example: https://github.com/adobe-fonts/source-han-code-jp/blob/master/resources/img-View.png)
- Test pattern specimen that demonstrates ASCII + CJK glyph vertical/horizontal metrics in the fonts (example: https://github.com/adobe-fonts/source-han-code-jp/blob/master/

[2015-12-18 04:19] be5invis commented on #114
And @chrissimpkins, maybe you can add an alignment test, since many fonts may be half-width (like Iosevka) of 2/3-width (like Source Han Code JP), the sample can be this:

[code]
A half-width font may look like this:
![image](https://cloud.githubusercontent.com/assets/240091/11889212/9afb7284-a581-11e5-9ca2-0de86ee1a05b.png)

[2015-12-18 04:28] chrissimpkins commented on #114
@be5invis Can you provide more information about this metric?  CJK fonts are new to me and I have not come across this terminology.

[2015-12-18 04:32] be5invis commented on #114
Half-width means that every Latin characters are exactly 1/2em wide.
Source Han Code JP is an unusual one, which its latin characters are 2/3em wide.

[2015-12-18 04:33] chrissimpkins commented on #114
Source Han Code JP is an unusual one, which its latin characters are 2/3em wide.

I see. Thank you very much.

[2015-12-18 04:35] chrissimpkins commented on #114
So we are currently at the following list of suggested images for these fonts:

- Source code example that includes CJK glyphs in comments +/- source strings (example: https://github.com/adobe-fonts/source-han-code-jp/blob/master/resources/img-View.png)
- Test pattern specimen that demonstrates ASCII + CJK glyph vertical/horizontal metrics in the fonts (example: https://github.com/adobe-fonts/sour

[2015-12-18 09:31] mkasu commented on #114
The 2nd and 4th point is more or less the same test, or can at least be merged as alignment is directly related to vertical/horizontal metrics.

[2015-12-18 15:25] chrissimpkins commented on #114
It sounds as though we are reaching consensus about this.  I will update the proposed image types over the weekend based upon this conversation (and any other comments that are posted between now and then) and then we can dig in on the actual text specimens that we want to use.  The group over at Adobe added text samples to their repository for the images that we discussed above and applied the MI

[2015-12-18 18:04] awesome-bot opened #115 "Validate pull requests with Travis"
Hello, I wrote a tool that can validate README links (valid URLs, not duplicate). It can be run when someone submits a pull request.

 It is currently being used by
- https://github.com/vsouza/awesome-ios
- https://github.com/matteocrippa/awesome-swift
- https://github.com/dkhamsing/open-source-ios-apps

Examples
- https://travis-ci.org/matteocrippa/awesome-swift/builds/96526196 ok ✅
- https://tra

[2015-12-18 18:07] chrissimpkins commented on #115
Looks nice.  will check it out. ty!

[2015-12-18 20:30] kenlunde commented on #114
Our pleasure.

[2015-12-20 05:25] char101 opened #116 "Generate alternative README.md for different font sizes"
Hi,

Since people use different font sizes in their editors, and some fonts look better in certain size, could you generate the previews for different font sizes, for example previews in 9pt would be in README-9pt.md, 10pt in README-10pt, and so on.

Thanks.

[2015-12-20 06:41] tomByrer commented on #116
There is already a [monofont playground](http://sourcefoundry.org/hack/playground.html)
But a version of this with all Codeface's fonts would be great.

[2015-12-20 10:15] alison985 opened #117 "COC?"
Hi,

I'm just wondering what your code of conduct is for this project?

Thanks,
Alison

[2015-12-20 12:33] chrissimpkins commented on #116
Thanks for this suggestion Charles.  As Tom mentioned, we developed an ACE editor based web application as part of our Hack typeface project that permits comparison of a large number of these typefaces.  We tossed in a number of web fonts for faces that release them and many others show up in the menus when you install them on your system.  If you click the Compare Side-by-Side button in the upper

[2015-12-20 12:54] chrissimpkins commented on #117
Thanks for raising awareness about this Alison.  This is a very important issue.  We have not defined a formal code of conduct for the project but I fully endorse and enforce the ideas in COC's like the [Contributor Covenant](http://contributor-covenant.org/version/1/3/0/) across all projects that I maintain.  We've discussed making this explicit in the Hack project and are likely headed in this d

[2015-12-20 21:01] chrissimpkins opened #118 "Add Fira Code"
https://github.com/tonsky/FiraCode

[2015-12-21 01:25] char101 commented on #116
Thanks, the [playground](http://sourcefoundry.org/hack/playground.html) is nice. What I'm suggesting is that the screenshots in `codeface` are supposed to reflect how the fonts will look, but fonts do not necessarily look the same in different sizes.

For example here is M+ font in 9pt and 14pt. The 14pt screenshot is scaled so it looks thinner but in full size it is too bold in my opinion.

![m 9

[2015-12-21 01:53] chrissimpkins commented on #118
Added and gallery + download archive updated

[2015-12-21 01:53] #118 closed

[2015-12-23 19:38] chrissimpkins commented on #117
@alison985 checking in with you again on this issue.  Thoughts?

[2015-12-23 19:41] chrissimpkins commented on #114
Still investigating automated approaches to image generation.  Let me know if you have any thoughts / experience with this.  Will update here when I have more information.  Still intend to move forward with this even if it requires manual screenshots as with the main gallery.

[2015-12-23 19:47] chrissimpkins commented on #114
Also, I intend to include all of the recommended fonts in the #55 thread.  Are there others that you recommend?  I will create new issue reports for each of these.  Please add new issue reports for any others that you feel are appropriate for the gallery page.

[2015-12-23 20:07] chrissimpkins commented on #116
This is now fixed

[2015-12-23 20:15] chrissimpkins commented on #116
This is a great point.  I would counter, however, that there are so many variables at play across displays/renderers/platforms/hinting settings that we will never truly capture this for all, or even most, users.  The goal here is to provide a flavor of the included faces so that you can select a subset and explore them on your own with your own personal set of all factors that play a role in the r

[2015-12-24 04:14] chrissimpkins opened #119 "New gallery specimen images for all fonts"
Proposed new Codeface gallery images that will be generated through a scripted approach with Pango/Cairo/Pygments for each typeface:

### Text Specimen

![text](https://cloud.githubusercontent.com/assets/4249591/11989378/1c12e252-a9ca-11e5-9ea7-fbf54aaf2d3e.png)

### Compact Text Specimen

![compact](https://cloud.githubusercontent.com/assets/4249591/11989380/27c52466-a9ca-11e5-9a3f-cfb2f352ba0d.p

[2015-12-24 04:16] chrissimpkins commented on #64
See #119 for the new proposed gallery image set.  This will include syntax highlighters that use italics for comment blocks.

[2015-12-24 04:18] chrissimpkins commented on #116
Moving to a scripted image generator approach.  See #119.  This may be very feasible for a range of font sizes once this tool is in place.  Let me get the main gallery updated and then we can discuss this in more detail.

[2015-12-24 04:32] chrissimpkins commented on #55
@mkasu a scripted approach is in the works for the main gallery and I intend to use it for the CJK fonts that we discussed here.  See #119 for example images with ASCII.

[2015-12-24 04:44] char101 commented on #116
:thumbsup: I thought the screenshots was already generated automatically since I found this file [render.py](https://github.com/chrissimpkins/codeface/blob/master/samplecode/render.py) on the repository. Obviously I was not going to suggest generating screenshot for different font sizes if they have to be taken manually since it is a lot of work.

[2015-12-24 04:52] chrissimpkins commented on #116
To date, it has all been manual :)

[2015-12-24 06:02] chrissimpkins commented on #114
Using a Pango/Cairo/Pygments approach, here is where we are with the dark on light text specimen images:

![cjk-specimen-light](https://cloud.githubusercontent.com/assets/4249591/11990101/cc464e6e-a9d6-11e5-999d-7f981429f807.png)
![cjk-aa](https://cloud.githubusercontent.com/assets/4249591/11990102/cf1ed93a-a9d6-11e5-81c6-9f0e13b1cd35.png)

The Pygments syntax highlighter is not liking the text th

[2015-12-24 06:05] chrissimpkins commented on #114
@Snack-X you commented in the original thread where we discussed this.  Have any feedback about the proposed images above?

[2015-12-24 14:09] #117 closed

[2015-12-25 02:19] hatchzo commented on #114
Hi,

I use these lines, but it might be unnecessary for your purpose.

//     ┌────────────────────────┐
//     │   https://github.com/adobe-fonts   │
//     │    アドビのオープンソースフォントサイト     │
//     └────────────────────────┘

- It shows Adobe github open source font  link.

/*******************************************************
    既存のファイルを開くためのスクリプト

    作成者：折原　大
    作成日：2014/05/17
***************

[2015-12-25 02:23] be5invis commented on #114
@chrissimpkins I found that in your sample image characters not included in the font (like 乐 and 转) are fall-backed into system font. However in order to show the coverage clearly, these absent characters should be shown in blank or "口"s.
![image](https://cloud.githubusercontent.com/assets/240091/11999119/7dff7570-aaf1-11e5-96d1-1b14e3dfd915.png)

[2015-12-25 02:27] kenlunde commented on #114
@be5invis: Source Han Code JP is a Japanese-only typeface family that is a derivative of the Source Han Sans typeface family, which is Pan-CJK. It would be inappropriate to use Source Han Code JP to render characters in a non-Japanese context, such as the Simplified Chinese examples that are resorting to font fallback.

[2015-12-25 02:31] be5invis commented on #114
@kenlunde Yeah, so my advice is that leave all unsupported characters (like 乐 here) blank, to show the character coverage of the fonts clearly, since many Japanese fonts do not cover Simplified and Traditioanl Chinese characters.

[2015-12-25 02:33] kenlunde commented on #114
That would suggest nuking the zh-hant, zh-hans, and ko-KR lines from the sample text, because they should not be rendered with a Japanese font. All other lines with CJK text are Japanese, and Source Han Code JP is an appropriate font.

[2015-12-25 02:37] be5invis commented on #114
@kenlunde Maybe add comments after the language tag indicating that the font does not support this language? An exmaple:
[code]

[2015-12-25 02:40] kenlunde commented on #114
That could work, but it's really a two-prong issue, as my edited comment above points out. For ko-KR, it is a matter of incompleteness, for zh-hant, it is a matter of appropriateness (some glyphs are present in the font, but not appropriate for Traditional Chinese), and for zh-hans it is both (some characters have no glyph, and font fallback kicks in, and glyphs for some characters are not appropr

[2015-12-25 02:44] be5invis commented on #114
@kenlunde In my original thought about these samples, I'd like to show out how chracters in various languages and scripts are shown, and let users to determine whether this font is appropriate to use. So:

* To indicate the incompleteness, the image being rendered should leave unsupported characters blank, "口" or "=" (if Adobe Blank is used). Users can easily determine whether the font support all

[2015-12-25 02:51] kenlunde commented on #114
That can work, but keep in mind that for some users, "shape appropriateness" can be somewhat subjective. In other words, some users may not be able to recognize such distinctions. But, for now, your plan should work.

[2015-12-25 02:52] be5invis commented on #114
@kenlunde Thanks.
Maybe @chrissimpkins can increase the text size in this sample to help users to indicate the shapes.

[2015-12-25 03:14] hatchzo commented on #114
Source Han Sans supports these variant "花" (flower) glyphs for each language. However Source Han Code JP only has Japanese character mapping.

![2015-12-25 12 08 56](https://cloud.githubusercontent.com/assets/8035011/11999435/f1dd6e84-ab00-11e5-8278-4f930f034381.png)

[2015-12-25 09:23] be5invis commented on #119
How about an one-line or two-line "pangram-code" sample?
Iosevka uses
[code]
but this line does not cover numbers and punctuations.

[2015-12-27 04:13] tomByrer commented on #119
I really like the idea of automation & different specimens.
Could you add the following tests please?
* [Dyslexic pairs](http://dyslexia.learninginfo.org/symptoms.htm): b and d, or p and q, n as u, m as w, d as q, p as b, f as t.
* arrange the math symbols closer (mostly to test line heights, but also to help tell difference)
  - ~>==<-=+±*·x (yes, = is there 3 times)
* vertical line tests
  - Il|

[2015-12-27 08:08] kevinSuttle commented on #119
This is what I put in my Font Book specimen.

[code]

[2015-12-27 13:59] tomByrer commented on #64
I'm wondering if there should be an entire codeblock in italics?  Common practice to "comment out" some code while developing/testing.  Since my prior comment (sorry), I have had trouble before reading commented out code.

[2015-12-29 18:51] chrissimpkins commented on #114
@hatchzo Thank you!

[2015-12-29 18:53] chrissimpkins commented on #114
@be5invis It seems that Pango/Cairo falls back on a system default then?  This was not apparent to me.  Thanks for pointing it out.  Perhaps we could discuss the coverage in each of the recommended fonts that all here suggested and create approporiate specimen sheets for each?

[2015-12-29 18:56] chrissimpkins commented on #114
@be5invis @kenlunde All of these should support the `.notdef` glyph; however, many renderers (including those in most text editors and apparently in the Pango/Cairo approach used here) override this with the fallbacks so that the appropriate glyph is shown.  We may need to manually investigate the code coverage and create appropriate specimen sheets to demonstrate included glyphs with text that in

[2015-12-29 18:57] chrissimpkins commented on #114
@be5invis what size do you suggest?

[2015-12-29 18:59] chrissimpkins commented on #114
Would it be helpful to create a separate CJK text specimen repository that we could all collaboratively work on to create some sort of standard for the display of fonts aimed at developers?  I think that the discussion above suggests that this is warranted and I suspect that there may be a great deal more feedback out there about how to approach this issue.

[2015-12-29 19:04] chrissimpkins commented on #119
@be5invis and get rid of text specimen #1 that includes all of these characters?

[2015-12-29 19:30] chrissimpkins commented on #114
I started a new repository in the Source Foundry organization account where I will be hosting ASCII flavored source code text specimens that we use on the main Codeface gallery page.  There have been suggestions (including some by @be5invis) for modifications to these images and we will work on them in this repository and attempt to achieve some level of consensus about what is helpful to view whe

[2015-12-29 19:31] kenlunde commented on #114
I have been stating for years that font fallback is a double-edge sword. One edge, the one that is useful for cutting, is useful in that characters that lack a glyph in the selected font have a chance of being displayed with a meaningful glyph. The other edge, the one that can come back to bite you, is not knowing from which font the glyphs are being displayed. Sometimes, it is obvious when font f

[2015-12-29 19:40] chrissimpkins commented on #119
@tomByrer & @kevinSuttle : both great suggestions.  I created a new repository where we can work on these specimens and attempt to achieve a consensus among developers about what they would like to see when they investigate new typefaces for source code development.

https://github.com/source-foundry/text-specimens

Feel free to fork and PR any suggested changes to the current specimens that we ar

[2015-12-29 19:47] chrissimpkins commented on #114
@kenlunde is there any tool to investigate CJK character code point coverage outside of a font editor with manual review?

We could indicate coverage with icons or text.  Icons adjacent to the font name in the gallery might address this in a simple, clear, language-independent fashion.  Then we will need to decide what to do with the images that span the spectrum of languages that were proposed ab

[2015-12-30 03:37] be5invis commented on #114
There's an attribute in Pango can disable fallback:
https://developer.gnome.org/pango/stable/pango-Text-Attributes.html#pango-attr-fallback-new
This may be helpful.

[2015-12-30 16:05] chrissimpkins commented on #114
@be5invis Thank you very much!  I have been digging into the Pango/Cairo docs and the Python binding docs (not well documented unfortunately) and came up with this so far:

https://github.com/chrissimpkins/codeface/blob/cjk/scripts/render.py#L128-L132

It executes the script without issues but still renders the missing glyphs with a fallback font.  Will do some more investigation this week to see

[2015-12-31 00:04] kenlunde commented on #114
@chrissimpkins: I use the [AFDKO](https://www.adobe.com/devnet/opentype/afdko.html) *spot* tool to dump the Format 12 (UTF-32) 'cmap' subtable. If that subtable does not exist, which is when all mappings are in the BMP, then I dump the Format 4 (BMP-only UTF-16) subtable. Checking these 'cmap' subtables represents the most reliable way to check Unicode coverage. The flags in the 'OS/2' table are e

[2015-12-31 14:48] chrissimpkins commented on #114
@kenlunde That is extremely helpful Ken.  Thank you very much!

[2016-01-01 04:30] tomByrer commented on #119
I just sent the PR, but now I wonder if "Confused pairs" would be better, since they are pairs+ that are confusing?  Or am I confused for that example is for?

[2016-01-01 04:36] tomByrer commented on #119
Let me think about the math symbols a bit; you seem to have many around anyway.

[2016-01-01 15:35] chrissimpkins commented on #119
Thanks for the PR's Tom. They are both merged.  I made a few minor additions to the line in the https://github.com/source-foundry/text-specimens/blob/master/semi-source/confusedchar-compact.txt specimen so that the line lengths match.  I used additional character pairing examples from the dyslexia site that you linked in the PR.

:+1:

[2016-01-01 15:36] chrissimpkins commented on #119
@tomByrer sounds good.  let me know

[2016-01-01 17:32] chrissimpkins commented on #119
Modified the confused char specimen file with some new character pairings from @kevinSuttle's suggestions above

See https://github.com/source-foundry/text-specimens/issues/3

[2016-01-02 04:41] #56 closed

[2016-01-02 04:41] #115 closed

[2016-01-02 06:50] chrissimpkins commented on #114
@hatchzo @kenlunde @be5invis Does this appear to be the correct rendering of the available glyph sets in Source Han Code JP using the recommended specimen?  This is what I am getting with the Pango/Cairo render when I switch the fallback font setting to False:

![cjktest](https://cloud.githubusercontent.com/assets/4249591/12073574/9e22fdc0-b0f2-11e5-8e6e-904c28995c69.png)

Four glyphs appear show

[2016-01-02 09:52] be5invis commented on #114
@chrissimpkins
So where's the source code of the sample text? The [x] looks like a "null" character or a zero-width space.

[2016-01-02 13:46] chrissimpkins commented on #114
https://github.com/chrissimpkins/codeface/blob/cjk/samplecode/cjk-specimen.txt

[2016-01-02 13:48] be5invis commented on #114
@chrissimpkins Have you tried to replace tabs into spaces?

[2016-01-02 14:22] chrissimpkins commented on #114
@be5invis Yes, you appear to be correct.  Here is where we are with all tabs in the specimen converted to spaces:

![cjktest](https://cloud.githubusercontent.com/assets/4249591/12074738/2cf68abe-b132-11e5-8c0f-b89323bdec49.png)

Is this what should be expected?

[2016-01-02 14:23] be5invis commented on #114
@chrissimpkins Exactly what it should be.

[2016-01-02 14:25] chrissimpkins commented on #114
@be5invis :+1:   Will dig into the other specimen files this week.  Not sure why they are rendering in all italics.  Must be an issue with Pygments

[2016-01-02 14:28] chrissimpkins commented on #114
And will remove the Adobe specific text in the vertical/horizontal metrics file as @hatchzo recommended in https://github.com/chrissimpkins/codeface/issues/114#issuecomment-167179147

[2016-01-02 14:44] tomByrer commented on #119
Sweet!  I made 1 minor tweaks to your edits (or is that a little twerk?)

[2016-01-02 14:54] kenlunde commented on #114
As an aside, if Source Han Code JP were to have full CJK support, the image below (made using Source Han Sans) shows language-specific differences for zh-hant and zh-hans when the characters share the same code point (unified):

![cjk-example](https://cloud.githubusercontent.com/assets/3988788/12074795/1d79cab6-b11d-11e5-82a2-cf31434ac1b8.jpg)

The last character in the zh-hant and zh-hans lines,

[2016-01-02 14:58] kenlunde commented on #114
@hatchzo: Is there a reason why Source Han Code JP includes a glyph for U+9E1F (⻦)? It is harmless to include this glyph, but it is a character that is specific to Simplified Chinese whose traditional form is U+9CE5 (⿃). I think that a similar comment applies to U+98CE (⻛).

[2016-01-02 15:23] chrissimpkins commented on #114
@kenlunde This is a level of complexity across these languages that I do not understand.   In your opinion, is this an appropriate way to represent the glyph coverage for these typefaces?

[2016-01-02 15:34] chrissimpkins commented on #119
@tomByrer :+1:  merged!

[2016-01-02 17:33] kenlunde commented on #114
@chrissimpkins With very few exceptions, most CJK fonts support a single language, both in terms of character coverage and the glyphs. This would suggest that instead of using a single text example that covers CJK, you should use per-language examples, and use the appropriate one based on the primary language of the font. In the case of Source Han Code JP, only the three ja-JP lines are appropriat

[2016-01-02 17:47] chrissimpkins commented on #114
Thank you very much Ken. The font fallback option is breaking the syntax highlighter so it may work better to do this work before the automation.

Would it be possible for others who suggested typefaces to weigh in on their thoughts about this? Should we consider separate C, J, and K specimen files? If you agree, will you please let me know what support is available in the typefaces that you recom

[2016-01-02 17:59] kenlunde commented on #114
@chrissimpkins: It will be somewhat obvious when a font supports Simplified Chinese, Traditional Chinese, or Korean. Such fonts will include glyphs only for characters that are appropriate for these languages. When I read through #55, there was a note that indicated that some Chinese and Korean fonts support Japanese kana (hiragana and katakana). The reason why this is the case is because the char

[2016-01-04 14:26] chrissimpkins commented on #114
@kenlunde Thanks Ken.

Here is the list that I have so far based upon recommendations in issue reports:

Links available:

- [Nanum Gothic Coding](http://dev.naver.com/projects/nanumfont/)
- [D2 Coding](http://dev.naver.com/projects/d2coding/)
- [Iosevka Inziu](http://code.fosshub.com/Inziu/downloads)
- M+ 1MN / 1M / 2M (already in Codeface repository main gallery)
- Source Code Han JP (Adobe, you

[2016-01-04 14:33] chrissimpkins commented on #114
We will need to review the licenses for these fonts in order to redistribute the font releases here.  I will begin this process but may need help with the interpretation of some licenses that are written in the CJK languages.  If you recommended a typeface and are able to interpret any corresponding license that is not in English (and provide a link to the license), it would be extremely helpful.

[2016-01-04 15:21] kenlunde commented on #114
Nanum Gothic Coding = Korean (SIL Open Font License, Version 1.1) [no ideographs]
D2 Coding = Korean (SIL Open Font License, Version 1.1)
Iosevka Inziu = CJK via separate fonts: J = Japanese, SC = Simplified Chinese, TC = Traditional Chinese [not sure for what language the "CL" fonts are intended; no Korean support; no license information except for a "Copyright (c) 2014-2015 M+ Fonts Project, (c)

[2016-01-04 15:32] chrissimpkins commented on #114
@kenlunde Fantastic! Thank you very much Ken.  I am assuming from your comments above that Source Han Sans is proportional width, not monospaced?  I know that there are people out there using proportional fonts for source code.  Are there any special considerations for these with CJK type in source?  I am more than happy to include Source Han Sans if you feel that it is appropriate for the display

[2016-01-04 15:33] chrissimpkins commented on #114
All:

I will begin to create gallery images and pull the new fonts into the repository.  Will post here when they are available for review.

[2016-01-04 15:34] kenlunde commented on #114
@chrissimpkins Yes, the non-HW fonts in the Source Han Sans project are proportional by default, in terms of the glyphs for Latin. As long as the user expectation is for the glyphs for ASCII (U+0020 through U+007E) to be monospaced, the HW fonts in the Source Han Sans project can be used for this purpose.

[2016-01-04 15:36] chrissimpkins commented on #114
@kenlunde Thanks much for the additional information

[2016-01-04 15:37] chrissimpkins commented on #114
Updated contributors list to acknowledge all of your contributions to this (still in progress) effort. Thanks again to all.  Look forward to this new addition to the project.

[2016-01-04 15:43] kenlunde commented on #114
@chrissimpkins Although not necessarily related to this issue, you might find [this](https://blogs.adobe.com/CCJKType/2015/01/shs-vs-ssp-and-scp.html) particular CJK Type Blog article interesting. It was written before I added the HW fonts to the Source Han Sans project, and before @hatchzo developed the Source Han Code JP fonts. The article details how we adapted Source Sans Pro and Source Code P

[2016-01-04 15:49] chrissimpkins commented on #114
@kenlunde I added it to Pocket and will have a read.  I just picked up a copy of your CJKV Info Processing book as well.  Time to educate myself a bit :)

Thanks again Ken.

[2016-01-04 18:34] be5invis commented on #114
@chrismwendt The Inziu Iosevka's address is changed into http://be5invis.github.io/Iosevka/inziu.html . The fosshub page is no longer being updated.

[2016-01-04 18:57] chrissimpkins commented on #114
@be5invis Thanks Belleve.  To clarify, do these variants fall under the SIL OFL 1.1 (as per https://github.com/be5invis/Iosevka/blob/master/LICENSE)?

[2016-01-04 19:15] be5invis commented on #114
@chrissimpkins
Inziu Iosevka is a composite of Iosevka, M+ and SHS so yes it is.

[2016-01-04 19:19] chrissimpkins commented on #114
@be5invis great thanks much

[2016-01-04 19:23] be5invis commented on #114
@chrissimpkins I do not know whether your script support TTC collections. Inziu provides five variants within one TTC and the last one is not monospaced (the LGC part is Roboto). Maybe you can split it using otc2otf or some other tools.

[2016-01-04 19:30] chrissimpkins commented on #114
@be5invis Thank you very much.  I will check.

[2016-01-04 19:32] be5invis commented on #114
@chrissimpkins I've tested that `otc2otf` can successfully split my `ttc`s. You can simply drop the subfonts (`ttf`s) not named with "Iosevka".

[2016-01-04 19:37] chrissimpkins commented on #114
@be5invis perfect thanks.

For me: https://github.com/adobe-type-tools/afdko/blob/master/FDK/Tools/osx/otc2otf

[2016-01-04 20:07] be5invis commented on #114
And @chrissimpkins I have to clearify what's the differences between the three lines:

![image](https://cloud.githubusercontent.com/assets/240091/12099130/832fd698-b361-11e5-95fc-a429014d87cf.png)
(This image uses Kang-Xi Dicrionary's shape as a reference to show their difference.)

* Red: Subtle shape difference. "Standard" shape of Han characters in Mainland China, Taiwan and Japan are different

[2016-01-04 20:50] chrissimpkins commented on #114
@be5invis Yes, now I see.  Some of the differences are incredibly subtle (e.g. the red glyphs at positions -3 in lines 1 & 2 that differ by a small side stroke position on the right side of the shape).   Do the glyphs in each column have the same meaning across languages?  By simplification do you mean that there has been a change in the shape of a glyph that retains the same meaning as a differen

[2016-01-04 21:04] chrissimpkins commented on #119
New compact confused character specimen based upon the above changes:

![test](https://cloud.githubusercontent.com/assets/4249591/12100412/cd3706d6-b2fc-11e5-9689-f8bf919e8a36.png)

[2016-01-04 21:14] chrissimpkins commented on #119
@be5invis how about this change to include your pseudocode pangram?

![test](https://cloud.githubusercontent.com/assets/4249591/12100634/2fbc571a-b2fe-11e5-83ab-03c18d6a6c28.png)

[2016-01-04 22:07] be5invis commented on #114
@chrissimpkins There's three levels

1. Character difference, only occurs in "起承転結" vs "起承轉合". This is the difference between Chinese language and Japanese language, and the meanings of "結" and "合" are not same.
2. Simplification, marked in blue (japanese Shinjitai) and green (Simplified Chinese). Simplification does not change the meaning of character, but the simplified form does not share same

[2016-01-04 22:21] be5invis commented on #114
@chrissimpkins An image to explain them :)
![image](https://cloud.githubusercontent.com/assets/240091/12102223/59a18ed0-b374-11e5-82e0-17f61c66eaf8.png)

[2016-01-04 22:31] chrissimpkins commented on #114
@be5invis Thanks Belleve.  That is very helpful.

Another reason to exclude the lines that are not intended for a specific language?

[2016-01-04 22:37] be5invis commented on #114
@chrissimpkins Well excluding lines is not a good idea, since programming now is international and users may read code writtern in other languages. And, considering Han characters are ideograph, displaying them in the user's local shape is acceptable.

Therefore my opinion is that keep all three sample lines, show users what the font's "designed language" is, and they can judge whether it is suita

[2016-01-04 22:45] chrissimpkins commented on #114
@be5invis so the ability to see this visual distinction in the local shape would play a role in your decision about the use of a typeface?  That is interesting and seems to be an important part of the visual comparison if I understand this correctly.  Do we have enough breadth across Unicode position identical and Unicode position different simplified glyphs to draw that visual distinction here?

[2016-01-04 22:48] chrissimpkins commented on #114
@be5invis Also, I am assuming that a native writer would be able to draw these distinctions intuitively based upon this discussion.  Is there a need for icons next to the typeface name to define the language support in the typeface?

[2016-01-04 22:53] be5invis commented on #114
@chrissimpkins [Variants](https://en.wikipedia.org/wiki/Variant_Chinese_character) in Han characters are extremely common, so Unicode unifies these variants into one codepoint unless they are encoded separately in some existing encoding. However all simplifications produced by China and Japan can be distinguished by Unicode.
Adding an icon can be helpful.

[2016-01-04 22:55] kenlunde commented on #114
My suggestion to tailor the examples on a per-language basis is based on my experience in dealing with typical users, most of which may not be sensitive to such subtle glyph differences. If you do decide to use all lines that make up the original CJK example, you need to be absolutely sure that font fallback is not kicking in, and you also need to provide some form of statement that makes it clear

[2016-01-04 23:02] be5invis commented on #114
@kenlunde
In my original design, the example is used to show the "reality" of the font being tested, therefore it should be able to indicate how many characters this font cover, and what the font's target language is. Therefore I choose to keep all three lines while turning off font fallback. However since some users may not able to see the subtle differences, I think @chrissimpkins 's "add icon"

[2016-01-04 23:28] be5invis commented on #114
For testing:
![](https://cloud.githubusercontent.com/assets/240091/12099208/e8a68742-b361-11e5-8f47-02c7b0b99c8c.png)
* Green: Test whether the font cover Simplified Chinese-specific characters.
* Blue: Test whether the font cover Japanese-specific characters.
* Red: Indicate the font's target language and variant choice.

So specific to @chrissimpkins 's sample image of SHC:
![](https://cloud.git

[2016-01-05 00:28] chrissimpkins commented on #114
@kenlunde
@be5invis

Maybe we should move away from an automated approach in the CJK gallery and create the images manually given the complexities in the information that we are trying to convey here.  We could consider a compromise in which we use:

- black on light + colored glyph scheme (as @be5invis used above) for the lines where support is included based upon @kenlunde's review of the fonts

[2016-01-05 07:30] be5invis commented on #114
@chrissimpkins I think this can be automated if you add a "language" metadata when producing the sample image. However for Traditional Chinese, there are some fonts use "Orthodox" Kang-Xi shapes instead of Taiwan MOE Shape (國字標准字體), that would be a problem. So the languages are:

* Simplified Chinese
* Traditional Chinese - Taiwan
* Traditional Chinese - Hong Kong (similar to Taiwan standard; rare

[2016-01-05 14:12] kenlunde commented on #114
@be5invis Highlighting "improper" ideograph forms is problematic, and is likely to confuse more than it will help. It is far easier to label each font by its language, then supply a sample string that is specifically tailored for that language. Even for Pan-CJK fonts, there is always a singular primary language for each font, and the only way to access glyphs for other languages or regions is via

[2016-01-05 15:09] be5invis commented on #114
@kenlunde Hmmm, so is this solution acceptable?

* Highlight the line of the language the font designed for;
* And keep other lines to expose the font's coverage and variant selection?

For SHC, the `ja-JP` line is highlighted and the `hans` and `hant` lines are faded.

[2016-01-05 15:44] kenlunde commented on #114
@be5invis As long as the entire supported line is highlighted, and entire unsupported lines are faded, that is a better solution. Actually, if the unsupported lines are faded, the supported line can simply be rendered in black.

[2016-01-05 15:48] be5invis commented on #114
@kenlunde Yeah, the "target" lines are black while unsupported lines are faded.
@chrissimpkins I think this solution is acceptable.

[2016-01-05 19:01] chrissimpkins commented on #114
@be5invis
@kenlunde

That sounds good.  This will be much easier to maintain than extensively highlighted options.

Have we removed the second of the Japanese Kana lines in https://github.com/chrissimpkins/codeface/issues/114#issuecomment-168395997 ?   If not, can you let me know if both lines should be considered supported by all of the fonts labeled as having Japanese language support in the fir

[2016-01-05 19:13] chrissimpkins commented on #114
Can anyone suggest an application that supports settings to disable font fallbacks?

[2016-01-05 19:19] be5invis commented on #114
@chrissimpkins The font-fallback behavior is strongly platform specific. I think improving your existing rendering script to support "fading" is better than taking a snapshot from some editor.
As for the Kana lines, both of them should be preserved (and not being faded), because both Hirakana dna Katakana are used in Japanese, and are included in the national standard encodings in Japan, Mainland

[2016-01-05 19:28] chrissimpkins commented on #114
@be5invis Thanks.  Will look around to see what I can find.  The documentation of the Python Pango/Cairo libraries is pretty poor and my manipulation of the attributes to remove font fallbacks broke the syntax highlighter (Pygments).  It is not a situation where it is saving me time if there is a simple application where I can do this and take screenshots.

@kenlunde Ken, does In Design on OS X su

[2016-01-05 19:30] kenlunde commented on #114
@be5invis Although Chinese and Korean fonts almost always include glyphs for kana, because the national standards on which they're based includes them, I would strongly advise against using Chinese or Korean fonts for displaying kana. I explained me reasons in a different post to this issue. I suggest removing the "Kana" label, and simply tag those lines as ja-JP. In other words, the Japanese samp

[2016-01-05 19:31] chrissimpkins commented on #114
got it.

excellent, thank you very much.  Will explore

[2016-01-05 19:36] chrissimpkins commented on #114
Here is where we are.  Colors are not correct but text specimen is as I understand the above conversation to date and will be displayed with black letters on light background for supported character sets, light grey letters on light background for unsupported sets.

<img width="441" alt="specimen" src="https://cloud.githubusercontent.com/assets/4249591/12125504/87c196ee-b3b9-11e5-995d-5cfdc6f8aec0

[2016-01-05 19:41] kenlunde commented on #114
👍

(A minor nit, but I suggest capitalizing "hant" and "hans" in the locale identifiers. In fact, it's a bit inconsistent in that Japanese and Korean use the region identifiers, JP and KR, but Chinese uses a different type of identifier. You could use zh-TW and zh-CN to be more consistent, which also opens the door to handling zh-HK as a second form of Traditional Chinese at some point. Source Han

[2016-01-05 19:41] be5invis commented on #114
@chrissimpkins Fine. For SHC, only the `ja-JP` lines are highlighted and the other lines are faded out. Perhaps you can elevate the "target" lines and arrange "non-target" lines after them.

[2016-01-05 19:50] chrissimpkins commented on #114
Like this?

<img width="470" alt="specimen" src="https://cloud.githubusercontent.com/assets/4249591/12125828/90818076-b3bb-11e5-9a8c-cc97a53a3e03.png">

[2016-01-05 20:27] be5invis commented on #114
Yes

[2016-01-05 20:37] chrissimpkins commented on #114
Found a way to do this in Scribus.  Here is the first proof of Source Han Code JP for your review.

<img width="797" alt="source-han-code-jp" src="https://cloud.githubusercontent.com/assets/4249591/12126932/28744390-b3c2-11e5-9ae7-14a658ed50cb.png">

[2016-01-05 20:39] chrissimpkins commented on #114
Is that the expected spacing on the ja-JP lines 2 and 3?

[2016-01-05 20:49] be5invis commented on #114
@chrissimpkins Yes it is, but for better alignment you can try this text segment with two spaces replaced with an ideographic space:
[code]
For all `zh` and `ja` lines there will be exactly 24 ideographs and 14 European characters.

[2016-01-05 22:35] chrissimpkins commented on #114
Much better. Here is the image with the supported sets arranged at the top as you recommended:

<img width="774" alt="source-han-code-jp" src="https://cloud.githubusercontent.com/assets/4249591/12129537/4ac2d582-b3d2-11e5-9668-419dcbd68be0.png">

Looks very good.  I will generate images from the other fonts and start adding them to the gallery page.  Then on to the other specimen images.

[2016-01-05 22:38] chrissimpkins commented on #114
And an alternate image that sets off the numbers from the Japanese glyphs:

<img width="791" alt="source-han-code-jp2" src="https://cloud.githubusercontent.com/assets/4249591/12129677/1ca36990-b3d3-11e5-8c73-45e6b57a1d9a.png">

[2016-01-05 22:43] be5invis commented on #114
@chrissimpkins I rearranged the ideographic spaces and ASCII spaces to make the alignment better:
[code]
The text remains aligned even if you are using a proportional font:
![image](https://cloud.githubusercontent.com/assets/240091/12129743/862132ea-b440-11e5-9fcf-35216337483d.png)

[2016-01-05 22:49] chrissimpkins commented on #114
:+1:

<img width="786" alt="source-han-code-jp" src="https://cloud.githubusercontent.com/assets/4249591/12129926/b8afa988-b3d4-11e5-8ee6-a62c9c22cde4.png">

[2016-01-05 22:51] be5invis commented on #114
@chrissimpkins Perfect!

[2016-01-05 22:52] chrissimpkins commented on #114
@be5invis @kenlunde Looks great!   It took some effort but we have image 1 :)

[2016-01-05 23:00] be5invis commented on #114
@chrissimpkins And then you can proceed to the automation step, turn the manual typesetting into programatic generation :)

[2016-01-05 23:11] kenlunde commented on #114
Looks good. 👍

[2016-01-06 01:46] chrissimpkins commented on #114
@kenlunde Thanks Ken.  I really appreciate your ongoing help with this.

[2016-01-06 03:45] kenlunde commented on #114
My pleasure, though my contribution is comparatively small.

[2016-01-06 05:57] jilen opened #120 "Add agave font"
Find an interesting font here https://github.com/agarick/agave
![screenshot from 2016-01-06 13-56-41](https://cloud.githubusercontent.com/assets/546573/12135917/592958d4-b47d-11e5-9e1d-ff35e0ed8528.png)

[2016-01-06 19:40] chrissimpkins commented on #120
@jilen Thank you!  Mind tracking down licensing information for this font?  We will need to know whether we can redistribute it here.

[2016-01-06 19:43] chrissimpkins commented on #114
Initial images look good:

https://github.com/chrissimpkins/codeface/blob/cjk/CJK.md

[2016-01-06 19:48] kenlunde commented on #114
Looks great.

[2016-01-06 20:01] be5invis commented on #114
@chrissimpkins LGTM.

[2016-01-06 20:02] kenlunde commented on #114
![hannibal_smith](https://cloud.githubusercontent.com/assets/3988788/12153176/6436e97c-b46d-11e5-87cc-80c69cd018dc.jpg)

[2016-01-06 20:05] be5invis commented on #114
The three monospaced variants of M+ has different character coverage? Maybe I should tell Coji Morishita.

[2016-01-06 20:07] kenlunde commented on #114
I checked the M+ fonts a couple days ago, and the character coverage differs quite a bit. I am sure that it is a known limitation. Two of them looked like work in progress. If so, the best solution may be to remove one or two of the families, leaving only the 1mn family, which has the larger glyph among the three.

[2016-01-06 20:09] be5invis commented on #114
@kenlunde The `1m`, `1mn` and `2m`'s shape of Latin characters are different. I think preserving them is helpful.
Oh, latin, @chrissimpkins Could you please add a Latin line into the sample text? Maybe
[code]

[2016-01-06 20:19] kenlunde commented on #114
@be5invis Inspecting the 'cmap' table, M+ 1m includes glyphs for 1,225 kanji, M+ 1mn includes 4,892, and M+ 2m includes 3,799.

[2016-01-06 20:19] be5invis commented on #114
@kenlunde That's weird. How about M+ 1P?

[2016-01-06 20:24] kenlunde commented on #114
@be5invis Link, please.

[2016-01-06 20:27] be5invis commented on #114
@kenlunde [info](https://mplus-fonts.osdn.jp/about.html). [download](https://osdn.jp/projects/mplus-fonts/releases/62344).

[2016-01-06 20:36] kenlunde commented on #114
@be5invis All of those fonts include 'cmap' entries for 4,992 ideographs.

[2016-01-06 20:36] be5invis commented on #114
So @chrissimpkins 's M+ is outdated?

[2016-01-06 20:41] kenlunde commented on #114
Apparently so. The 1m, 1mn, and 2m fonts include 7,731 glyphs, 4,992 of which map from code points for ideographs. The 1c, 1p, 2c, and 2p fonts include 8,578 glyphs, and the same 4,992 map from code points for ideographs.

[2016-01-06 22:19] van-de-bugger commented on #119
Hi guys, thanks for the great gallery.

My question/proposal: is it possible to include few non-Latin characters to the specimen? I mean Greek, Cyrillic, maybe Hebrew, and so on. I do *not* request including full alphabets. One-two character from each alphabet would be very helpful to see if characters of these alphabets are present in the typeface. Otherwise I have to download and install a font

[2016-01-06 22:23] kevinSuttle commented on #119
@van-de-bugger Is there a certain subset of characters you look for?

[2016-01-06 22:41] van-de-bugger commented on #119
@kevinSuttle: Specifically, no.

But some Cyrillic and Greek characters looks like Latin, and some Cyrillic characters looks like Greek. It seems it's better to choose characters which are distinct for the alphabet. For example, it could be Ψω for Greek, Жы for Cyrillic. It depends on available space. If you can allocate more space, I can look for more characters.

[2016-01-07 01:07] chrissimpkins commented on #119
We are dealing with this issue in the CJK gallery that is in development.  The problem is that our automated approach (and most editors for screenshots) include fallback fonts to fill in gaps for missing glyphs.  This is not the optimal way to demonstrate the presence of character set support until we find a different approach.  I would be willing to add icons to indicate character set coverage if

[2016-01-07 01:07] tomByrer commented on #119
IIRC Google fonts does this, & another website lists what range of characters.

But maybe a separate character listing for all non English languages would be good.

[2016-01-07 01:58] van-de-bugger commented on #119
@chrissimpkins

Did you try `fontimage` program from fontforge? It does not use fallback fonts. It is not suitable for syntax highlighters, but may be suitable for Text Specimen and Compact Text Specimen.

    $ fontimage --text "Жы" --text "Ψω" --text "です" --o sample.png ./Hack-Regular.ttf

![sample](https://cloud.githubusercontent.com/assets/721164/12160254/395c2396-b4fb-11e5-9dd6-adffdc007bae.p

[2016-01-07 02:17] jilen commented on #120
http://an.erki.net/%7Eb/agave/license I cannot open the license page... But it seems to be something forked from MIT license. So I think it's OK to include it here.

[2016-01-07 02:20] jilen commented on #120
There's an old link I found from arch  community https://bbs.archlinux.org/viewtopic.php?id=160106. The author states `free to use/scrutinise/modify/whatever (mit license)`

[2016-01-07 03:09] kevinSuttle commented on #119
You can test in the Emoji & Symbols panel in OSX.

Select 'Customize List' and choose the language sets.
<img width="232" alt="screen shot 2016-01-06 at 10 08 23 pm" src="https://cloud.githubusercontent.com/assets/95672/12161293/26e68078-b4c2-11e5-8d56-d9a63e982c98.png">

<img width="615" alt="screen shot 2016-01-06 at 10 07 27 pm" src="https://cloud.githubusercontent.com/assets/95672/12161295/2c4

[2016-01-07 05:18] tomByrer commented on #119
Great, does exactly what I hoped for; expose if - is not aligned, etc.
I just noticed `il1` is repeated twice, so one can be replaced if other
matches are needed to be compared.

On Mon, Jan 4, 2016 at 2:04 PM, Chris Simpkins <notifications@github.com>
wrote:

[2016-01-07 05:54] chrissimpkins commented on #119
@van-de-bugger thanks for linking that.  I will give it a try.  Was not aware of it.

[2016-01-07 05:57] chrissimpkins commented on #120
@jilen great! We will add it. Thanks for doing the legwork.

[2016-01-07 05:59] chrissimpkins commented on #114
Will install the most recent versions and make new images.  Adding a new issue report for it.

[2016-01-07 06:00] chrissimpkins opened #121 "Update M+ fonts to current versions"

[2016-01-08 03:01] chrissimpkins commented on #121
In cjk branch.  Will be merged with the new CJK gallery when complete.

[2016-01-08 03:02] chrissimpkins commented on #109
This is now in the `cjk` branch and will be merged when the new CJK gallery is complete.

[2016-01-08 03:05] chrissimpkins commented on #109
@Snack-X can you confirm the character set coverage on the v1.1 release of D2 Coding?  We are showing missing Unicode codepoints in our specimen images for the new CJK gallery:

https://github.com/chrissimpkins/codeface/blob/cjk/CJK.md#d2-coding

Please let me know if we should expect these specimen glyphs to be missing.  Thanks much!

[2016-01-08 03:08] chrissimpkins commented on #114
The M+ fonts are updated and you were both correct.  The new images are available.

D2 Coding is showing missing glyphs in the Japanese sets.

https://github.com/chrissimpkins/codeface/blob/cjk/CJK.md#d2-coding

Will add the rest tomorrow.  Source Han Sans is still downloading ;)

[2016-01-08 03:14] kenlunde commented on #114
@chrissimpkins D2 Coding is a Korean font, not a Japanese font.

Apologies for Source Han Sans. It has a huge footprint.

[2016-01-08 03:17] chrissimpkins commented on #114
@kenlunde Bah, apologies.  I misread it and thought that it was Japanese.  Thank you!

[2016-01-08 03:29] Snack-X commented on #109
I think it's correct because it does not support full CJK Unified Ideographs.

[2016-01-08 03:32] chrissimpkins commented on #109
@Snack-X my apologies. I thought that it was a Japanese font, but it turns out it is a Korean font.  Thanks for the feedback.

[2016-01-08 03:40] kenlunde commented on #114
@chrissimpkins While you're tweaking the samples, Iosevka Inziu SC is Simplified Chinese (zh-CN), and Iosevka Inziu TC is Traditional Chinese (zh-TW). The unsupported Chinese locales should be shifted, and greyed out.

[2016-01-08 03:43] chrissimpkins commented on #114
@kenlunde I see.  OK no problem, will fix them

[2016-01-08 03:46] chrissimpkins commented on #114
@kenlunde is the labeling of simplified vs traditional in the Source Han Sans intuitive? Do you use the same labeling as @be5invis used?

[2016-01-08 03:50] kenlunde commented on #114
@chrissimpkins Pretty much. For this project, the fonts that have 'HWSC' or 'HWTC' in the file name would be appropriate for Chinese. The 'HW' and 'HWK' fonts are for Japanese and Korean, respectively.

[2016-01-08 03:57] chrissimpkins commented on #114
@kenlunde perfect, thank you!

[2016-01-08 04:45] chrissimpkins opened #123 "New syntax highlighting styles"
@burodepeper

I connected the MinimalLight and MinimalDark styles to two new rendering scripts in the `image-scripting` branch.  You can pull this to your repo to continue working on it.

https://github.com/chrissimpkins/codeface/tree/image-scripting

To test the rendered images, use these two commands in the scripts directory:

### Light

[code]

### Dark

[code]

For some reason, it appears that

[2016-01-08 08:22] burodepeper commented on #123
I believe it is because I haven't specified a default style, neither for the light or dark variant, but I will do so whenever I finally get this thing working...

[2016-01-08 08:30] be5invis commented on #114
@chrissimpkins LGTM. However my font's name is “Inziu Iosevka”, not “Iosevka Inziu”.
Anyway the showcase is good enough to be published I think.

[2016-01-08 12:34] chrissimpkins commented on #114
@be5invis will fix it.  sorry about that.

I still intend to add source examples.  These are only the first specimen images.

[2016-01-08 14:54] chrissimpkins commented on #123
@burodepeper

### Dark (without settings in command)
![dark](https://cloud.githubusercontent.com/assets/4249591/12200567/9986db74-b5ed-11e5-90f1-52d0f96ad0f5.png)

### Dark (with bg settings in command)

![dark](https://cloud.githubusercontent.com/assets/4249591/12200603/d6d2cb6e-b5ed-11e5-842c-78d459f71c2e.png)

### Light

![light](https://cloud.githubusercontent.com/assets/4249591/12200582/b2ed5

[2016-01-08 14:57] chrissimpkins commented on #123
Let me know if that is not what you expect.  As I was reading through the Pygments docs last night it mentioned something about registering new highlighters.  I have not done that and this could be the problem.

[2016-01-08 14:58] burodepeper commented on #123
It is not how I expected, but I see what's missing. If I get pycairo up and running, I'll start fixing things up.

[2016-01-08 15:04] chrissimpkins commented on #123
I modified the above post with the python commands to generate the images

[2016-01-08 15:21] chrissimpkins opened #124 "Add Source Han Code JP"
In `cjk` branch.  Will be merged with new CJK gallery #114

https://github.com/chrissimpkins/codeface/blob/cjk/CJK.md#source-han-code-jp

[2016-01-08 15:21] chrissimpkins opened #125 "Add Source Han Sans"
Will be part of new CJK gallery #114

[2016-01-08 15:23] chrissimpkins opened #126 "Add Migu font"
Will be part of new CJK gallery #114

[2016-01-08 15:24] chrissimpkins opened #127 "Add MigMix font"
Will be part of new CJK gallery #114

[2016-01-08 15:24] chrissimpkins opened #128 "Add Ricty font"
Developer states that the license does not permit redistribution.

[2016-01-08 17:41] chrissimpkins commented on #114
@be5invis fixed name issue.  Gallery updated as are image files

[2016-01-08 22:08] chrissimpkins commented on #114
@kenlunde Fixed the display issues in the Inziu images that you mentioned.  Thanks for pointing it out.  I will do the same with the Source Han Sans fonts.  Can you let me know if there is a difference between the HW and non-HW variants in the archive of Source Han Sans fonts?  Is it simply the additional weights as it seems in the directories?

<img width="402" alt="shs" src="https://cloud.github

[2016-01-08 22:29] kenlunde commented on #114
@chrissimpkins The only Source Han Sans fonts that would be appropriate for this project, because their default ASCII forms are half-width, are the *OTF/{Japanese,Korean,SimplifiedChinese,TraditionalChinese}HW/SourceHanSansHW{,K,SC,TC}-{Regular,Bold}.otf* ones, meaning eight OTFs in total.

[2016-01-08 23:23] chrissimpkins commented on #114
@kenlunde thank you very much

[2016-01-09 18:16] chrissimpkins commented on #125
Added HW, HWK, HWSC, and HWTC to new CJK gallery.  Currently in the `cjk` branch and will be merged to master when the entire gallery is ready for release.

[2016-01-09 18:23] chrissimpkins commented on #114
@kenlunde mind confirming that the new Source Han Sans images appear as you would expect?  I need to adjust spacing on the Korean label which somehow got out of alignment...

[2016-01-09 18:23] chrissimpkins commented on #114
@mkasu Can you please let me know which of the MigMix and Migu variants are appropriate for inclusion?  The ones that I find are located at this URL: http://mix-mplus-ipa.osdn.jp/download.html#migu1m . Thanks!

[2016-01-09 18:25] chrissimpkins commented on #127
http://mix-mplus-ipa.osdn.jp/migmix/

[2016-01-09 18:26] chrissimpkins commented on #126
http://mix-mplus-ipa.osdn.jp/migu/

[2016-01-09 18:26] chrissimpkins commented on #128
https://github.com/yascentur/Ricty

[2016-01-09 18:31] chrissimpkins commented on #128
@mkasu Seeing this in the Ricty font generator script:

[code]
@yascentur can you confirm whether it is appropriate or not to redistribute Ricty in the Codeface repositories?  @mkasu requested the inclusion of Ricty in our new CJK typeface gallery that is in development [here](https://github.com/chrissimpkins/codeface/blob/cjk/CJK.md).

[2016-01-09 19:24] kenlunde commented on #114
@chrissimpkins The Source Han Sans HW images look good. The hangul glyphs are 92% the width of the ideographs, which may be why the Korean label went out of adjustment.

[2016-01-09 21:55] chrissimpkins commented on #114
@kenlunde thank you!

[2016-01-10 02:42] yascentur commented on #128
I guess it is not appropriate to redistribute Ricty.
Ricty is a combined font of Inconsolata ([SIL Open Font License](http://scripts.sil.org/ofl)) and Migu 1M ([IPA Font License](http://ipafont.ipa.go.jp/ipa_font_license_v1-html)).
Each license requires that a modified font must inherit the license.
However, due to OFL section 5, "the Font Software ... must be distributed entirely under this licen

[2016-01-10 08:53] chrissimpkins commented on #128
@yascentur thank you very much for the clarification.

[2016-01-10 08:54] #128 closed

[2016-01-10 15:23] chrissimpkins commented on #128
@mkasu Will not be able to add Ricty to the repository.  Please see message by @yascentur [here](https://github.com/chrissimpkins/codeface/issues/128#issuecomment-170302383)

[2016-01-10 15:25] chrissimpkins commented on #114
Ricty is not licensed for redistribution (per developer - #128) and will not be included as part of the collection.

[2016-01-10 18:19] mkasu commented on #128
@chrissimpkins Sorry for confusion with licenses. My request actually included/meant Ricty Diminished, which is the one I currently use. Thanks for your efforts.

[2016-01-10 18:25] chrissimpkins commented on #128
@mkasu Japanese font as well and appropriate for the CJK gallery?

[2016-01-10 18:30] mkasu commented on #128
@chrissimpkins Yes. It's very similar and uses the same compilation script, but with another set of Japanese glyphes (quite similar), which results in different licensing agreements.

[2016-01-11 13:14] chrissimpkins commented on #128
Thanks @mkasu

[2016-01-11 13:14] chrissimpkins opened #130 "Add Ricty Diminished"
https://github.com/yascentur/RictyDiminished

add to CJK gallery

cc: @mkasu @yascentur

[2016-01-11 13:20] chrissimpkins commented on #130
@yascentur Per Google Translate on your README page in the repository, I gather that Ricty Diminished is SIL OFL v1.1 licensed and it is OK to redistribute the fonts in this repository.  Would it be possible for you to confirm this?

Thanks

[2016-01-11 13:25] mkasu commented on #130
I checked the README page and can confirm that it is indeed SIL OFL 1.1 licensed to allow redistribution under OFL.

[2016-01-11 13:27] chrissimpkins commented on #130
@mkasu Thank you!  Confirming that the translation was correct.  I will include it in the CJK gallery.  Your interest stimulated this gallery btw.  You can find an early (in development) version of it here:

https://github.com/chrissimpkins/codeface/blob/cjk/CJK.md

[2016-01-11 13:31] mkasu commented on #130
@chrissimpkins Thanks a lot for your efforts and I'm sorry I've been quite silent recently. I'm regularly reading the other issue and start investing more time when I'm done with my current thesis. :)

[2016-01-11 13:33] chrissimpkins commented on #130
@mkasu no worries at all!  Pitch in if and when you have time.  Just wanted to make sure that you were aware that it is there thanks to you!

[2016-01-11 13:34] chrissimpkins commented on #130
@mkasu also added you to the contributors list with the dubious (awesome) title 'Curvacious Bezier' ;)

[2016-01-11 13:53] chrissimpkins commented on #123
Standard output from text rendered on [this line](https://github.com/chrissimpkins/codeface/blob/image-scripting/scripts/render_dark.py#L69) (before conversion to Pango formatting):

[code]

[2016-01-11 13:55] burodepeper commented on #123
Good! That is definitely something I can work with, I think.

[2016-01-11 13:55] chrissimpkins commented on #123
@burodepeper: Standard output from text rendered at [this line](https://github.com/chrissimpkins/codeface/blob/image-scripting/scripts/render_dark.py#L85) (after conversion to Pango formatting)

[code]

[2016-01-11 13:56] chrissimpkins commented on #123
:+1:

[2016-01-11 13:56] chrissimpkins commented on #123
These are both from the render_dark.py script

[2016-01-11 22:22] mkasu commented on #130
@chrissimpkins  I love it ;)

[2016-01-13 15:47] chrissimpkins commented on #114
Thoughts on what visual information is the most important in this specimen for the CJK gallery?

https://github.com/chrissimpkins/codeface/blob/cjk/samplecode/cjk-AA.txt

I would like to condense this into only absolutely essential information so as to reduce image size and decrease the height of these images.

[2016-01-13 15:51] chrissimpkins commented on #114
Kicking around how to handle source code specimens for the CJK gallery.  My initial thought is to use the lines from the TC, SC, J, and K in our first specimen image as strings and/or comments in the source code example.  This will require a separate specimen for each character set.

[2016-01-13 16:19] chrissimpkins commented on #123
Move away from Pygments highlighter in PR https://github.com/chrissimpkins/codeface/pull/132

[2016-01-13 16:23] chrissimpkins commented on #123
Updates to the scripts that are used to render syntax highlighter colors begin at commit https://github.com/chrissimpkins/codeface/commit/3662df0fc1c36b6b4091f776b3966a2979c36dd9

[2016-01-13 16:49] chrissimpkins commented on #126
Initial images are available in CJK.md (`cjk` branch)

[2016-01-13 16:52] chrissimpkins commented on #123
Test script added to assess markup changes without the need for Pango/Cairo libraries:

https://github.com/chrissimpkins/codeface/blob/image-scripting/scripts/render_tester.py

Prints the rendered HTML to standard output.

[2016-01-13 16:59] chrissimpkins commented on #123
Current images:

### Executed with:

[code]

*style is modified in the script as of now*

### Light

![test-light](https://cloud.githubusercontent.com/assets/4249591/12301216/dbe92e06-b9ec-11e5-9220-51f5469e508f.png)

### Dark

![test](https://cloud.githubusercontent.com/assets/4249591/12301236/f58d2f7e-b9ec-11e5-96d1-1da85d663e46.png)

[2016-01-13 21:51] chrissimpkins commented on #130
This is now available in the CJK.md gallery in the `cjk` branch of the repository:

https://github.com/chrissimpkins/codeface/blob/cjk/CJK.md

We will merge this to the master branch soon!  We have a few more gallery specimens in the works.  Thanks for the suggestion @mkasu!

cc: @yascentur

[2016-01-13 22:41] chrissimpkins commented on #127
These are now available in the CJK.md gallery located in the `cjk` branch.  They will be merged to master soon.  We are working on a few additional specimen images.

https://github.com/chrissimpkins/codeface/blob/cjk/CJK.md#migmix-1m

[2016-01-14 14:38] chrissimpkins commented on #123
PR #133

[2016-01-15 17:02] #51 closed

[2016-01-15 17:02] #45 closed

[2016-01-15 17:32] chrissimpkins commented on #114
The new images and all fonts are now included in the CJK gallery.  I will include the licenses this weekend and then will merge it to the master branch.  We will push the vertical metrics specimen back until when we can discuss this further if this is still felt to be a valuable addition to the specimens that we display.

Thanks once again to all involved here.  I really appreciate all of your hel

[2016-01-15 18:44] be5invis commented on #114
@chrissimpkins There are some problems with the new (code sample) SC/TC images

* The Han sample line is oversized, you can compare Inziu Iosevka SC with Inziu Iosevka J
* "花鸟风月 春夏秋冬 生老病死" seems improper here. This line is designed for the first test, and for the new-introduced source code image, it can be simpler:
 - zh-CN : `南去经三楚 东来过五湖`
 - zh-TW : `南去經三楚 東來過五湖`
 - ja-JP : `デジタル文字は美しく進化する` (samp

[2016-01-15 21:47] chrissimpkins commented on #114
@be5invis v2.0 ;)

[2016-01-15 22:11] chrissimpkins commented on #114
`cjk` branch was merged to `master`

[2016-01-15 22:13] chrissimpkins commented on #114
@be5invis Belleve, will you please check the licenses that I included in your Inziu fonts?  I am under the assumption that J includes both the SIL OFL and M+ licenses, the rest are SIL OFL only?

The licenses are included the directories with your font files.  Please confirm when you have a chance.  Thanks

https://github.com/chrissimpkins/codeface/blob/master/CJK.md

[2016-01-15 22:18] #130 closed

[2016-01-15 22:18] #127 closed

[2016-01-15 22:18] #126 closed

[2016-01-15 22:18] #125 closed

[2016-01-15 22:18] #124 closed

[2016-01-15 22:18] #121 closed

[2016-01-15 22:19] chrissimpkins commented on #109
Added and available in the new CJK gallery

[2016-01-15 22:19] #109 closed

[2016-01-15 22:24] chrissimpkins opened #134 "Update Iosevka fonts"
@be5invis Belleve, I am going to have a difficult time keeping up with the pace of your font releases.  Do you mind poking me on major releases?

[2016-01-15 22:24] be5invis commented on #114
@chrissimpkins
Well, all of these variants are under SIL OFL, identical to Ricty Diminished.

[2016-01-15 22:25] chrissimpkins commented on #114
@be5invis J includes the M+ glyphs and should have the M+ license as well though, correct?  I may need to do the same for Ricty Dim.

[2016-01-15 22:27] be5invis commented on #114
I am not sure Whether M+ license is compatible with OFL, I just follow Ricty Dim.
@yascentur

[2016-01-15 22:32] be5invis commented on #134
@chrissimpkins Iosevka is pretty stable now. The current changes only affect uncommon glyphs like IPA characters or superscripts. So you can slow down unless I notify you manually about important upgrades.

[2016-01-15 22:33] chrissimpkins commented on #134
@be5invis That sounds good.  Thanks Belleve

[2016-01-15 23:07] kenlunde commented on #114
@chrissimpkins: I am traveling through Sunday, and have only my phone, so I cannot respond constructively until Monday.

[2016-01-15 23:25] chrissimpkins commented on #114
@kenlunde no worries Ken. absolutely no rush

[2016-01-16 06:56] chrissimpkins commented on #123
Here’s where we are with the current iteration of the script and syntax highlighter definitions:

### Dark

![test](https://cloud.githubusercontent.com/assets/4249591/12371043/3c698ace-bbf4-11e5-92c4-6722dd583ed5.png)

### Light

![test](https://cloud.githubusercontent.com/assets/4249591/12371044/4bed2fbe-bbf4-11e5-8618-33ec309fa438.png)

[2016-01-16 07:05] chrissimpkins commented on #123
@burodepeper I will make a few example sets of the new gallery specimens so that we can have a look at all of them together across a few fonts.  :+1:

[2016-01-18 19:24] chrissimpkins opened #136 "Update Hack fonts"
v2.019 is now available

[2016-01-18 19:29] chrissimpkins commented on #123
@burodepeper should `struct` be highlighted using the bold color definition along with the other built in C types (`unsigned char` and `char`)?

[2016-01-18 19:40] burodepeper commented on #123
Possibly. I have no idea what `struct` is ; ) I you say they're "on the same level" as `unsigned char` etc, then yes. If it is more similar to `const`, then no.

[2016-01-18 19:41] chrissimpkins commented on #123
built in C type:

https://en.wikipedia.org/wiki/Struct_%28C_programming_language%29

[2016-01-18 19:43] chrissimpkins commented on #123
Common to use different highlighting in function parameters vs outside of the parameter list for built in types?  Haven’t ever paid attention to this.

[2016-01-18 19:52] burodepeper commented on #123
Hmm, I'm reading the wikipedia example, and from their examples, I think it is better that it stays the way it is. Or otherwise `const` would have to change too.

I don't know what is common. I'm following my own reasoning here, and the `syntax` and `syntax_alt` colors are used to (amongst other things) to display the structural elements of the language. The alt variant is reserved when multiple e

[2016-01-18 19:56] chrissimpkins commented on #123
Feel free to provide some examples here or push them to our source specimen repository and we can decide if there is a better approach.  I am open to a change in the code block.  Now that we have automated/scripted images, we can iterate on the specimens to make them better without a significant amount of effort.

[2016-01-18 19:57] chrissimpkins commented on #123
I'd like to try to keep the height of the images similar (or ideally even less height) rather than each font having a long block of code associated with it.  It is intended to be a taste not a five course meal.

[2016-01-18 19:59] burodepeper commented on #123
I understand. I'll put it on my list, but the current specimen is good enough.

[2016-01-18 20:15] chrissimpkins commented on #123
Will move forward with these specimens for now then.  For another time.

[2016-01-18 20:15] chrissimpkins commented on #136
updated

[2016-01-18 20:15] #136 closed

[2016-01-18 20:15] chrissimpkins commented on #134
Updated to v1.7.1 and released

[2016-01-18 20:15] #134 closed

[2016-01-18 20:26] burodepeper commented on #123
Yep, for another time. I am actually thinking of coming up with a specimen that is not of an existing language, but just looks like source code.

[2016-01-18 20:28] chrissimpkins commented on #123
Pseudo code is fine too.  We are using a pseudocode block for the commonly confused char specimen.

[2016-01-19 07:39] chrissimpkins commented on #123
Added new images for Anonymous Pro in the `image-scripting` branch README.md:

https://github.com/chrissimpkins/codeface/tree/image-scripting

[2016-01-19 07:40] chrissimpkins commented on #119
Added new gallery specimen images to the `image-scripting` branch README.md file.  This is the current iteration of our specimens and syntax highlighting schemes.

https://github.com/chrissimpkins/codeface/tree/image-scripting

[2016-01-19 07:44] chrissimpkins opened #137 "Character set coverage information"
Include information on character set coverage for each font.  Separate gallery markdown file with examples from broad range of character sets? Icons next to font names?

Suggestions welcomed

cc: @van-de-bugger

[2016-01-19 07:46] chrissimpkins commented on #119
@be5invis Belleve, the new gallery images will include your pangram specimen.  See the example link that I posted above.

[2016-01-19 07:46] chrissimpkins commented on #119
@van-de-bugger added new issue report where we can discuss your character set coverage suggestion #137

[2016-01-19 07:47] chrissimpkins commented on #137
from @van-de-bugger in #119 :

Did you try `fontimage` program from `fontforge` package? It does not use fallback fonts. It is not suitable for syntax highlighters, but may be suitable for Text Specimen and Compact Text Specimen.

    $ fontimage --text "Жы" --text "Ψω" --text "です" --o sample.png ./Hack-Regular.ttf

![sample](https://cloud.githubusercontent.com/assets/721164/12160254/395c2396-b4fb

[2016-01-19 07:52] chrissimpkins commented on #64
See the new images for Anonymous Pro in the `image-scripting` branch:

https://github.com/chrissimpkins/codeface/tree/image-scripting

I've included a comment line that will be rendered in oblique.  We could consider adding a pangram such as the one that @be5invis suggested in order to provide an example of (most of) the ASCII characters in oblique.

[code]

[2016-01-19 14:19] pvinis opened #138 "reference table or find-a-font"
we could classify the fonts here by their properties, so if i want to check out a new font, i could click what kind of `a` i want, and `0`, etc. or i could click "tall", or "more square", and i can get the total list reduced to the fonts with those attributes.

[2016-01-19 14:28] chrissimpkins commented on #138
I have been giving some consideration to this recently and have not come up with a good approach yet.  There may be a way to display metrics in some way.  Let me think about it a bit.

[2016-01-19 19:26] be5invis commented on #134
@chrissimpkins Good. And I think you can include Iosevka Slab either.

[2016-01-19 19:26] be5invis commented on #119
@chrissimpkins Nice.

[2016-01-19 19:33] chrissimpkins commented on #134
Happy to.  Mind submitting fonts as a PR?

[2016-01-19 19:50] be5invis commented on #134
@chrissimpkins Sure.

[2016-01-20 23:07] chrissimpkins commented on #138
We're somewhat limited in the Github markdown files with filtering/sorting on properties like you suggest so that would require a separate web application.  Thoughts about another approach that would not require us to build a separate site?

[2016-01-21 01:24] chrissimpkins commented on #120
It seems that there is only a regular font.  Are you aware of an oblique or bold variant?

[2016-01-21 02:21] jilen commented on #120
@chrissimpkins There'is an regluar font currently

[2016-01-21 03:13] tomByrer commented on #138
At least tag `serif` (tail) & `sans-serif`.  Built-in `powerline` flags would be nice also. AFAIK fonts are called [`rounded`](https://www.typewolf.com/top-10-rounded-fonts) or not; haven't seen "square", though perhaps an `x-ratio = 70%` could sort out fonts with taller non-caps.  A [`ligatures`](https://twitter.com/FiraCode) flag for programming combos (like `!=`) would be very nice.

For charac

[2016-01-21 04:58] chrissimpkins commented on #138
@tomByrer :+1:

[2016-01-21 13:21] chrissimpkins commented on #120
Let's put this on hold and see if the developer moves forward with those sets.  Many syntax highlighters use oblique and bold as part of their highlighting schemes.  Will you update when/if you see these become available?

[2016-01-21 14:21] chrissimpkins commented on #123
I am going to do a run through to confirm that I have the current release versions of all of the main gallery fonts and then will generate all of the images.  We are getting close.

[2016-01-21 14:27] chrissimpkins commented on #114
I added download links to the CJK gallery page.  The archive is BIG...  We are getting a really good compression ratio with the lzma2 format in the tar.xz archive.

I will look into the size of the TC/SC glyphs in line 2 of specimen #1 as Belleve suggested.  I suspect that this was a copy/paste error in Scribus.

[2016-01-22 01:58] jilen commented on #120
@chrissimpkins  Ok, I will keep track of it. Actually I have made an oblique font myself by apply skew with fontforge. https://drive.google.com/file/d/0B5wJ0iamqkclVXlZUUxzODVBNWM/view?usp=sharing

[2016-01-22 04:01] tomByrer commented on #120
I'm personally am OK with just regular versions; only use italics for comments, & seems most highlighting themes in Atom use colors & not bold.

Could be uploaded & [flagged](https://github.com/chrissimpkins/codeface/issues/138#issuecomment-173437712) (or have missing flags or strike-though --bold-- --oblique--).

[2016-01-22 04:06] tomByrer opened #140 "METADATA"
More of a conversation starter than suggestion.  I was browsing google/fonts repo & found they track font details with [METADATA.pb](https://github.com/futekov/fonts/blob/0dbf4e0289929a15d1ed2288179a7cf125c7cab4/ofl/sourcecodepro/METADATA.pb) files.  Could help with all that font info you're trying to track.  I think add homepage & repopage fields...

[2016-01-22 04:16] chrissimpkins commented on #140
Those files seem to be mostly names and weights.  There is some information about the character set support that might be useful.  I will look into it in more detail.

[2016-01-22 04:16] tomByrer opened #141 "another online font tester"
Interestingly, you just drag & drop fonts into it; no sever-based font files used.  Though if the fonts were on a CDN... (which I could help with)
https://github.com/impallari/Font-Testing-Page

[2016-01-22 05:10] chrissimpkins commented on #141
Issue is that most don't release Web fonts and those that declare reserved font names (with SIL OFL and other OS licenses) don't permit you to call it by the reserved font name (when reserved) if you generate your own.  There is a pretty detailed discussion about this in the SIL OFL FAQ.

The drag and drop approach is nice but requires user effort.  There isn't a great solution that covers a broad

[2016-01-24 17:28] chrissimpkins commented on #123
Looks like we may need to create a new gallery for the bitmap fonts.  It doesn't look like they are going to display well with this automated rendering approach.

https://github.com/chrissimpkins/codeface/tree/image-scripting

[2016-01-24 22:15] chrissimpkins opened #143 "Update to CP Mono Neue"
http://www.liquitype.com/works/cpmono-neue/cpmono-neue.html

Looks great but is this available now?  I emailed Tino for more information.

[2016-01-24 23:10] chrissimpkins commented on #120
@jilen I am updating the entire repository as I generate new images with our new scripted image approach.  It seems many more of the fonts have one or two variants than I recalled.  I will include Agave once our scripted approach is in place.  Let's see if the images render with the single regular variant.

[2016-01-25 16:20] #141 closed

[2016-01-27 20:05] teogeos commented on #64
Very nice! Thank you for the efforts you put on this issue. As for myself, the comments in italics are exactly what I needed.

[2016-01-27 20:23] chrissimpkins commented on #64
Hope to have these out soon!  Thanks for letting me know.

[2016-01-28 16:20] chrissimpkins opened #144 "Update Inconsolata"
Will be updated with new image generator merge.  Currently available in the `image-scripting` branch.

[2016-01-29 22:08] chrissimpkins commented on #114
@kenlunde Ken, did you have any other thoughts about the CJK gallery?  If not, I will close this thread and we will open a new one for further changes down the road.

[2016-01-30 00:45] kenlunde commented on #114
@chrissimpkins At this point, I have no further substantive comments, so your suggestion seems appropriate.

[2016-01-30 01:00] chrissimpkins commented on #114
@kenlunde thank you!  and thanks to all for all of your help with this new gallery.  it is greatly appreciated.

[2016-01-30 01:00] #114 closed

[2016-01-30 09:00] be5invis commented on #114
@chrissimpkins The “花鳥風月” line in all SC and TC variants are still oversized:
![](https://github.com/chrissimpkins/codeface/raw/master/images/cjk/confusedchar-inziu-iosevka-TC.png)
while this line in Japanese and Korean samples are OK.

[2016-01-30 12:39] chrissimpkins commented on #114
@be5invis have not forgotten.  I am finishing the scripted images in the main gallery and should be able to get to it this weekend.  will add a new issue report for it

[2016-01-30 12:41] chrissimpkins opened #145 "Correct text size in TC and SC images CJK gallery"
The comment block text size for traditional and simplified Chinese characters is larger than surrounding text.

report via @be5invis

[2016-01-30 15:46] chrissimpkins opened #146 "Add bitmap font gallery"
[Almost ready](https://github.com/chrissimpkins/codeface/blob/master/BITMAP.md)

[2016-01-30 15:50] chrissimpkins commented on #123
New styles are now merged to master branch

[2016-01-30 15:50] #123 closed

[2016-01-30 15:50] chrissimpkins commented on #119
New gallery specimen images are now live in the master branch

[2016-01-30 15:50] #119 closed

[2016-01-30 15:51] chrissimpkins commented on #64
Oblique/italics are now available in the main gallery images.

[2016-01-30 15:51] #64 closed

[2016-01-30 15:51] chrissimpkins commented on #55
CJK gallery has been released and is available.  Please submit any new CJK fonts as new issue reports or pull requests.  Thanks to all for their help here.

[2016-01-30 15:51] #55 closed

[2016-01-30 15:53] chrissimpkins commented on #46
There is a [new bitmap gallery](https://github.com/chrissimpkins/codeface/blob/master/BITMAP.md) that will be distinct from the main gallery so that users are aware of this issue.  I will link it to the main gallery this weekend. Thank you very much for the suggestion!

[2016-01-30 15:53] #46 closed

[2016-01-30 18:20] kevinSuttle commented on #119
Nice! Solid work @chrissimpkins.

[2016-01-30 18:22] chrissimpkins commented on #119
@kevinSuttle Thanks Kevin.  I really appreciate all of the contributions here.  Thanks for you input and feedback.  All of the images are automatically generated now so we can continue to iterate on the specimens if you have any new ideas.  It takes a matter of minutes to recreate the entire gallery.

[2016-01-30 18:24] kevinSuttle commented on #119
Now that is awesome. My pleasure.

[2016-01-30 18:37] chrissimpkins commented on #144
done

[2016-01-30 18:37] #144 closed

[2016-01-30 18:38] chrissimpkins commented on #143
No response...

[2016-01-31 20:21] aloisdg opened #148 "Add Menlo/Meslo"
- [Menlo](https://en.wikipedia.org/wiki/Menlo_%28typeface%29)
- [Meslo](https://github.com/andreberg/Meslo-Font)

[2016-01-31 20:22] aloisdg opened #149 "Add Monaco"
- [Monaco](https://en.wikipedia.org/wiki/Monaco_%28typeface%29)
- [install on linux](https://github.com/cstrap/monaco-font)

[2016-01-31 20:58] chrissimpkins commented on #148
Both great fonts!  [Meslo is already included](https://github.com/chrissimpkins/codeface#meslo-lg-m-dz) and Menlo is not licensed for redistribution from what I can gather (unfortunately).

[2016-01-31 20:58] #148 closed

[2016-01-31 21:00] aloisdg commented on #148
Thank you for the fast answer.

[2016-01-31 21:01] chrissimpkins commented on #149
Another excellent font but also a system font on OS X and not licensed for redistribution.

[code]

[2016-01-31 21:02] #149 closed

[2016-02-01 00:27] chrissimpkins commented on #146
Added!

[2016-02-01 00:27] #146 closed

[2016-02-01 00:28] chrissimpkins commented on #120
Agave is now available in the main gallery.  Thanks for the suggestion!

[2016-02-01 00:28] #120 closed

[2016-02-01 00:38] #47 closed

[2016-02-01 00:52] chrissimpkins opened #150 "Fix DejaVu Sans Mono"
Does not render with the automated image generator.  Possibly because released as `Book` style?

[2016-02-01 04:40] chrissimpkins opened #151 "Add character set coverage for each typeface"
- [ ] Use [pyfontaine](https://github.com/davelab6/pyfontaine) to examine coverage --> XML vs. JSON
- [ ] Create Markdown report in each font directory

[2016-02-18 15:06] dogancelik opened #153 "Broken image previews in Nondistrib"
The image previews are broken in https://github.com/chrissimpkins/codeface/blob/master/NONDISTRIB.md

[2016-02-19 00:50] chrissimpkins commented on #153
Thank you! I didn't recognize this with the recent transition to an automated approach to the images.  Will fix it.

[2016-02-25 09:18] PhilipDaniels opened #154 "Cousine has lost its semi-colon"
The latest version of Cousine does not have a semi-colon.
Test environment: mintty under Cygwin.

I just setup a new laptop and installed all these Codeface fonts. Typing ';' in mintty with Cousine just prints a thin rectangular box. I have a PC with an older version of Cousine, so I copied it over to the new laptop and the semi-colon is back. I then re-installed Cousine from this pack, and the se

[2016-02-25 11:04] chrissimpkins commented on #154
Odd.  I will look into it.  Thanks for reporting it.

[2016-02-25 11:24] chrissimpkins commented on #154
I just re-installed v1.020 of Cousine and confirmed that the semicolon is present in this set.  I will update the fonts this week.   Here is the v1.020 release of Cousine if you need it.

[cousine.zip](https://github.com/chrissimpkins/codeface/files/146390/cousine.zip)

Thanks again for noticing this.  I really appreciate it.

[2016-02-25 11:38] PhilipDaniels commented on #154
You're welcome. Thanks for collating all this stuff.

On 25 February 2016 at 11:24, Chris Simpkins <notifications@github.com>
wrote:

--
Philip Daniels.

[2016-02-26 21:50] chrissimpkins commented on #154
Fixed! Thanks much for noting this issue.  The new Cousine release is now available and all images have been updated.  Also added you to our contributors list.  ^5

[2016-02-26 21:50] #154 closed

[2016-02-26 22:31] chrissimpkins commented on #153
Fixed!  Thanks much for noting this problem.  I really appreciate it.  Added your name to the contributors list.

[2016-02-26 22:31] #153 closed

[2016-02-27 01:33] dogancelik commented on #153
@chrissimpkins Thank you!

[2016-03-30 12:39] #143 closed

[2016-03-30 12:40] chrissimpkins commented on #140
Tom, you might be interested in this new tool that we just released:

https://github.com/source-foundry/font-line

[2016-03-30 12:44] chrissimpkins commented on #138
We are beginning to address this issue with data tables in the font directories.  I just added vertical metrics tables to each directory that includes metrics involved in line spacing.  This allows you to compare across different typefaces.  We also released a new tool that allows you to modify the line spacing in any font if you'd like to attempt to make it more similar to spacing that you like f

[2016-03-30 16:43] tomByrer commented on #140
Thanks for thinking about me!
So programmatically make any font monospaced?  That's neat.
Needs hand-tweaking to look right, or mostly automatic?

On Wed, Mar 30, 2016 at 6:40 AM, Chris Simpkins <notifications@github.com>
wrote:

[2016-03-30 16:45] chrissimpkins commented on #140
It won't make any font monospaced, it adjusts any font's vertical metrics so that you can modify the vertical line spacing (tighter vs. looser)

[2016-03-30 16:46] chrissimpkins commented on #140
The current approach is based on the % UPM height to define the automated approach to the line spacing that you'd like.  You can view vertical metrics values in any font with the `font-line report` sub-command.  Full docs on the README page.

[2016-04-04 22:56] tomByrer opened #155 "+ Nimbus Mono"
https://www.fontsquirrel.com/fonts/nimbus-mono
Need a PR?  Might be a few days/weeks.

[2016-04-04 22:57] tomByrer commented on #155
Forgot; this has like 40 different versions; look at downloader on bottom:
http://larsenwork.com/monoid/
Might need a different approach...

[2016-04-04 23:48] chrissimpkins commented on #155
Added! I am going to add a few others from one of the PR's and will push a new archive that includes the set of fonts.  Thanks for the recommendation!

For Monoid, Andreas wanted to point to his website for customization.  We are just releasing the default version here.

[2016-04-04 23:48] #155 closed

[2016-04-05 02:39] chrissimpkins commented on #81
done!

[2016-04-05 02:39] #81 closed

[2016-05-18 23:32] chrissimpkins opened #156 "add Mononoki"
https://github.com/madmalik/mononoki

[2016-06-01 02:25] dragons4life opened #157 "Fastest way to install all the fonts? [windows/linux]"

[2016-06-10 03:20] chrissimpkins commented on #157
Could consider a script to do this on *nix systems.  Interested in helping to pull this together?

[2016-08-07 18:09] mpathy commented on #157
Could help maybe.

But just have a look at how the powerline font guys have done it:
https://github.com/powerline/fonts

Look for the install scripts

And maybe note them here, because powerline fonts are an even better improvement then only coding fonts because you can do crazy stuff in vim, on the console and so on (Powerline, Airline, or Shell prompts like the agnoster one..

[2016-08-07 18:11] mpathy opened #158 "Idea: Categorize between coding fonts with ligatures and without and explain.."
There are fonts like Fira Code, Hasklig and so on, who do some other crazy stuff besides just being coding fonts..

They in fact create coding ligatures.

Use one of those fonts, type stuff like !== or => and so on and be stunned :)

But it doesnt work with all consoles..

Use the list from the Fira Code font github and link it here..

[2016-08-07 19:25] chrissimpkins commented on #157
Thanks for the feedback!

[2016-08-07 19:25] chrissimpkins commented on #157
Thanks for the feedback!

[2016-10-15 17:29] dmitriyK1 opened #159 "Colorscheme name?"
Hi!
I'd like to know what is the dark colorscheme name that is used on sample screenshots?
Thanks in advance.

[2016-10-15 21:13] chrissimpkins commented on #159
Thanks for asking! It is a custom scheme by David van Gemeren @burodepeper.

https://github.com/burodepeper/minimal-syntax-dark

Check it out at that link.  I believe that he makes it available for the Atom editor.

[2016-10-16 11:28] dmitriyK1 commented on #159
Thanks! That's what I was looking for :)

[2016-10-16 11:29] burodepeper commented on #159
@dmitriyK1 Enjoy!

[2016-10-17 11:31] #159 closed

[2016-10-17 11:32] chrissimpkins commented on #159
@burodepeper :+1:

[2016-10-21 20:57] choyrim commented on #157
I made a powershell script to install all the `*.ttf` inside the zip on my windows box. It goes thru the zip copies all `*.ttf` to `$env:TEMP` and then uses the shell to install to the font directory. It requires running as adminstrator role.

`> .\install-fonts-in-zip.ps1 [<codeface zip>]`

defaults to `codeface-fonts.zip` in the current directory.

[install-fonts-in-zip.zip](https://github.com/c

[2016-10-21 21:09] chrissimpkins commented on #157
:+1:  thank you!

[2017-01-30 09:20] fitojb opened #161 "Replace Droid Sans Mono with Noto Mono"
Droid Sans Mono is [deprecated](https://github.com/googlei18n/noto-fonts/blob/master/FAQ.md#how-does-noto-relate-to-droid) and will no longer be updated. Its successor is [Noto Mono](https://www.google.com/get/noto/#mono-mono).

renaming all updates are made to the Noto fonts.”

[2017-04-13 19:51] kevinSuttle commented on #119
Possibly still of value: https://typography.guru/journal/letters-symbols-misrecognition/

[2017-07-21 18:17] KSuttle-cng opened #162 "Designate which typefaces have programming ligatures"
Possibly to augment: https://github.com/chrissimpkins/codeface/issues/119

https://www.hanselman.com/blog/MonospacedProgrammingFontsWithLigatures.aspx

![screen shot 2017-07-21 at 2 16 51 pm](https://user-images.githubusercontent.com/29458877/28476779-46536846-6e1f-11e7-8ed1-7c749bb88937.png)

[2017-07-21 18:19] chrissimpkins commented on #162
I like that idea.  Habe a suggestion about how best to do so? Simple flag next to typeface name?

[2017-07-21 18:22] KSuttle-cng commented on #162
Maybe group them together in the list, and/or include the ligatures in the font specimen? Might be tricky since they all don't have the same ligatures. However, maybe examples like the ones above could be used—ones that represent common programming character groupings.

[2017-07-21 18:46] chrissimpkins commented on #162
Interested in contributing to this effort? We can definitely update the specimen across fonts to demonstrate examples of commonly used ligatures across all of the fonts.  Problem is, I don't know if our rendering approach will print the ligatures in the images.   If successful, would be a way for those who like ligatures to compare appearance / alignment issues across all fonts in the collection.

[2017-07-21 19:12] KSuttle-cng commented on #162
Yeah for sure. What do you need?

[2017-07-22 14:41] chrissimpkins commented on #162
Will check the specimen over the weekend.  My thought would be to add a single line of commonly used ligature combinations as the final line of the specimen.  Perhaps you could PR in the ligature glyph combinations that are the most commonly used/most important for comparison of fonts as that line in the specimen?

[2017-07-24 14:06] kevinSuttle commented on #162
Sounds good!

[2017-07-24 14:25] chrissimpkins commented on #162
Here is our main README page text specimen file that we use to build the specimen images.

https://github.com/chrissimpkins/codeface/blob/master/samplecode/test-pattern.txt

Want to PR in one line in that file with what you view as most commonly used glyph combinations that are re-formatted as source code ligatures?  We can try to re-generate all of the images with our script and see if it account

[2017-07-24 14:27] chrissimpkins commented on #162
I suppose the goal here would be to demonstrate breadth of support for ligatures that are used across programming languages rather than a purely language specific use situation if possible.

[2017-07-24 14:35] kevinSuttle commented on #162
Cool. I'll take a look.

[2017-07-26 19:52] kevinSuttle commented on #162
So, the "in one line" could prove an issue.
Check out all the ligatures here:

https://github.com/tonsky/FiraCode/blob/master/showcases/all_ligatures.png

I got to:
[code]

and decided I should check with you first.

[2017-07-26 20:13] chrissimpkins commented on #162
showcase of ligatures isn't primary objective of the gallery, just a snapshot that shows commonly used ones would be my thought.  let's stick with one line of what you feel are the best examples of broadly used ligatures.

[2017-08-08 00:17] chrissimpkins commented on #162
Merged!  Includes badges for fonts that have ligature support. Thanks for contributing this @kevinSuttle!   You have been added to our contributors list and dubbed 'The Ligature'.

👍

[2017-08-08 00:17] #162 closed

[2017-08-08 00:18] chrissimpkins commented on #158
Added in PR #163

[2017-08-08 00:18] #158 closed

[2017-08-08 13:56] KSuttle-cng commented on #162
Wow thanks, Chris! Super happy to be a part. Thanks for opening this up.

_- Kevin "The Ligature" Suttle_

[2017-08-08 14:01] chrissimpkins commented on #162
:wink: thanks for your help to make it better!

[2017-09-13 01:58] agarick commented on #120
Boy am I late to the show -- I don't know why I didn't see this issue sooner.

This is so flattering. I really appreciate @jilen for opening this issue and @chrissimpkins for including my work.

Unfortunately, I don't have immediate plans to work on variants, but I'd be happy to consider any [direct suggestions for improvement or change](https://github.com/agarick/agave/issues). I also haven't rea

[2017-09-13 14:46] chrissimpkins commented on #120
@agarick 👍   let us know if you make changes and we will get the fonts here updated!

[2017-09-15 11:52] mtelesha opened #165 "Show ligatures in examples"
Would be nice to see some simple ligatures examples in your code examples.

!= :=  and ->

[2017-09-15 12:08] chrissimpkins commented on #165
The ones included in the bottom line of the top specimen were decided by @kevinSuttle in https://github.com/chrissimpkins/codeface/pull/163

Suggest that we modify examples shown there?  Would like to limit this to a single line in the specimen if possible.

[2017-09-15 12:09] chrissimpkins commented on #165
Also see new PR #164 that just came in today

[2017-09-16 01:15] chrissimpkins commented on #165
Added to last line of the top black/white text specimen.  Currently in `development` branch and you can view the new gallery images here:

https://github.com/chrissimpkins/codeface/tree/development

Here is an example of a font that renders with ligatures:

https://github.com/chrissimpkins/codeface/tree/development#fira-code--

Waiting on feedback from #164 and will merge to master so that this is

[2017-09-18 00:31] chrissimpkins commented on #165
now in images in master!

[2017-09-18 00:31] #165 closed

[2018-04-30 21:51] alysdexia opened #166 "Aurulent Sans Mono's metadatum says OFL license"
and "The fonts and derivatives, however, cannot be released under any other type of license."

[2018-04-30 23:12] chrissimpkins commented on #166
This is coming from the open type tables?

[2018-05-14 13:48] monolifed opened #167 "Font Rendering in Screenshots"
I am using some of these font. They look better on linux than they do in those screenshots. I assume lcdfiltering is not used because they would looks different on different displays. But larger font rendered with hintfull might illustrate the fonts better.

[2018-05-14 13:52] chrissimpkins commented on #167
We are using an automated rendering process with pango/cairo:

https://github.com/chrissimpkins/codeface/blob/master/scripts/render.py

Have thoughts about how to improve it?  Or transition to something completely new that still allows us to use the syntax highlighting?  I am open to changes if there are any thoughts out there.

[2018-05-14 23:38] chrissimpkins commented on #167
I am not aware of an approach that would perform those tasks.  I suspect that there is a way to do it with another font renderer (or perhaps settings that improve the display with the current approach).  Let's leave this open to see if we get any feedback from others out there.

[2018-10-13 13:56] twse opened #168 "Add Sarasa Gothic font"
@be5invis created Sarasa Gothic which is baaed on Iosevka and Source Han Sans.

https://github.com/be5invis/Sarasa-Gothic

[2018-10-13 14:27] chrissimpkins commented on #168
Thank you! If you are able to generate the images and Markdown to implement it in the gallery I would be happy to merge this.  If not I will do this when I am able to return to the project.

[2018-10-22 19:15] grugq opened #169 "add font: Anka/Coder"
https://fontlibrary.org/en/font/anka-coder

Anka/Coder is a surprisingly nice monospace font for programming. It is old so it lacks ligatures, powerline, nerd, etc... also the `l1` isn't ideal, but otherwise it's easy on the eyes.

[2018-10-22 19:58] chrissimpkins commented on #169
Thank you! Will add it when I roll back this way.

[2018-10-22 20:08] grugq commented on #169
awesome. here's an image.

![image](https://user-images.githubusercontent.com/67157/47316132-9805d380-d670-11e8-99bf-36f9c66e3a20.png)

[2018-10-22 21:04] chrissimpkins commented on #169
Love it!  Thanks again.

[2018-12-03 22:10] flowchartsman commented on #103
I laboriously converted these to .dfont awhile back. Here they are.  Note that valid bmp sizes are 11,12,13,14,15,16,17,18,22 for regular and bold and 15,16,17,18 for italic.
[tty0.zip](https://github.com/chrissimpkins/codeface/files/2641465/tty0.zip)

[2018-12-04 00:08] chrissimpkins commented on #103
@flowchartsman thank you very much!

[2018-12-05 20:10] flowchartsman commented on #103
Before you close this out, I have just realized that the version I posted uses some of the alternate glyphs, which are explicitly against the design decisions of the original author.  If you are going to include it under the name "UW ttyp0", I would prefer that you let me re-render the font as he intended.  Otherwise, I am forking the project for my own use and with the intent of creating modern f

[2018-12-05 22:31] chrissimpkins commented on #103
The modifications with use of the same name are prohibited by the license that is linked above in this thread.  If you change the name of your derived designs we can include the original license with your downstream design.  The license looks like a BSD/MIT style permissive license with an additional reserved name field added to it.  Let me know how you would like to handle it.  There is no rush a

[2018-12-06 02:50] flowchartsman commented on #103
That’s only for distribution, and I didn’t modify his glyphs, I just built it with alternate ones that he didn’t prefer. I’ve forked the font under a new name, and will try and get it building properly soon.

Sent from my iPhone

[2018-12-06 02:59] chrissimpkins commented on #103
Sorry, yes I was referring to distribution through this repository not that you did anything wrong by modifying the design in any way.  Look forward to seeing it when ready.

[2018-12-06 05:34] flowchartsman commented on #103
https://github.com/flowchartsman/greybeard Done. Let me know if there are any problems.

[2018-12-06 13:48] chrissimpkins commented on #103
Thanks @flowchartsman!

[2019-03-25 12:17] twse opened #170 "Add three more weights to Roboto Mono"
Roboto Mono in Codeface serves only regular and bold. Please add three more weights for Roboto Mono: thin, light and medium.

[2019-06-22 19:26] cata0309 commented on #159
What about the light syntax theme?

[2019-06-22 20:49] chrissimpkins commented on #159
I believe that we are using the light version of @burodepeper theme that is available at https://github.com/burodepeper/minimal-syntax

[2019-06-23 10:11] burodepeper commented on #159
That is correct!

[2019-07-22 14:56] cocoonkid opened #171 "please create a homebrew package"
please create a homebrew package

[2019-07-22 15:31] chrissimpkins commented on #171
does Homebrew install fonts on macOS?

[2019-08-11 12:18] cocoonkid commented on #171
yes, that's easy via cask.

For example:

brew cask install font-hack-nerd-font

[2019-08-21 10:27] cocoonkid commented on #171
any updates on this?

[2019-08-21 12:04] chrissimpkins commented on #171
none yet

[2020-08-03 15:42] #167 closed

[2020-09-17 16:26] brezniczky opened #172 "Wrong license for Liberation Mono?"
Hi,

I had little time to double check on this, so I might be talking rubbish, but I suppose that the Open Fonts License 1.1 is the currently governing one for Liberation Mono.

What I found here seems like a GPL v2
https://github.com/chrissimpkins/codeface/blob/master/fonts/liberation-mono/license.txt

If I am correct, an adequate replacement could be
https://github.com/liberationfonts/liberation

[2020-09-19 16:10] chrissimpkins commented on #172
Thank you very much for pointing this out Janos!  It looks like we have Liberation Mono v1.04 in this repository and it must have been under a different license.  It looks like the latest release is https://github.com/liberationfonts/liberation-fonts/releases/tag/2.1.1 which is under SIL OFL.

Let's update the fonts and license!

[2020-09-19 17:07] chrissimpkins commented on #172
#173

[2020-09-19 17:07] #172 closed

[2020-09-19 17:08] chrissimpkins commented on #172
Updated and merged. Thanks again!

[2020-09-21 12:29] brezniczky commented on #172
Thank you very much for looking into it this quickly and responding, really helpful and much appreciated!

[2020-09-21 13:31] chrissimpkins commented on #172
My pleasure.  Thanks Again!

[2020-11-17 09:14] van-de-bugger opened #174 "DejaVu Sans Mono is not in the main gallery"
The font is in [the repository](https://github.com/chrissimpkins/codeface/tree/master/fonts/dejavu-sans-mono) but missed in the main gallery. Is it a bug or intentional?

[2020-11-17 09:23] van-de-bugger opened #175 "Feature request: "[ home ]" link in the gallery."
Each font in the gallery is represented as:

It would be great to see "[ Home ]" link next (or before) the "[ License ]" link, e. g.:

[2020-11-25 18:56] chrissimpkins commented on #174
Bug! Ty

[2020-11-25 18:57] chrissimpkins commented on #175
And this links to top of README?

[2020-11-27 20:28] van-de-bugger commented on #175
No. I would like it links to the font's home page. Information about font's home for many fonts is present in the repo's `source.txt` files (e. g. `codeface/fonts/agave/source.txt`, `codeface/fonts/average-mono/source.txt`, etc).

[2020-11-27 20:55] van-de-bugger commented on #137
Just FYI:

`fc-query` (from `fontconfig` package) may be used to get information about font coverage, e. g:

    $ fc-query /usr/share/fonts/google-roboto/Roboto-Regular.ttf
    Pattern has 25 elts (size 32)
        family: "Roboto"(s)
        familylang: "en"(s)
        style: "Regular"(s)
        stylelang: "en"(s)
        fullname: "Roboto"(s)
        fullnamelang: "en"(s)
        slant: 0(i)(s

[2020-11-30 16:56] waldyrious commented on #137
I would say that at least percentage completion in a chart like [this](https://commons.wikimedia.org/wiki/File:FOSS_Localization_-_Unicode_Basic_Multilinguial_Plane.png) could be pretty useful:

![Unicode coverage chart](https://upload.wikimedia.org/wikipedia/commons/0/08/FOSS_Localization_-_Unicode_Basic_Multilinguial_Plane.png)

[2021-08-12 00:22] fhumayun opened #176 "[Feature Request] Add JetBrains Mono to CodeFace FontSet"
It'd be super appreciated to see[ JetBrains Mono](https://www.jetbrains.com/lp/mono/) added to the Codeface ligatures enabled font set.

Many thanks in advance,
Faisal